## DataFrame Data Structure

### Creating a DataFrame Object from a 2-D Dictionary

In [4]:
import pandas as pd
dict = {'students': ['Ruchika','Neha','Mark','Bianca','Jamaal'],
        'marks': [79.5,83.75,74,88.5,89], 'Sports': ['Cricket','Badminton',
                                                     'Football','Athletics','kabaddi']} 
print(dict)
df1 = pd.DataFrame(dict)
print(df1)

{'students': ['Ruchika', 'Neha', 'Mark', 'Bianca', 'Jamaal'], 'marks': [79.5, 83.75, 74, 88.5, 89], 'Sports': ['Cricket', 'Badminton', 'Football', 'Athletics', 'kabaddi']}
  students  marks     Sports
0  Ruchika  79.50    Cricket
1     Neha  83.75  Badminton
2     Mark  74.00   Football
3   Bianca  88.50  Athletics
4   Jamaal  89.00    kabaddi

In [5]:
# Modifying index 
df2 = pd.DataFrame(dict, index = ['I','II','III','IV','V'])
print(df2)

    students  marks     Sports
I    Ruchika  79.50    Cricket
II      Neha  83.75  Badminton
III     Mark  74.00   Football
IV    Bianca  88.50  Athletics
V     Jamaal  89.00    kabaddi

Example 21 : Given a dictionary that stores the section names list as value for section key and contribution amounts list as values for contri key. Write code to create and display the data frame using above dictionary.

In [9]:
dict1 = {'section':['A','B','C','D'], 'contri': [6700,5500,5000,5200]} 
df1 = pd.DataFrame(dict1)
print(df1)

  section  contri
0       A    6700
1       B    5500
2       C    5000
3       D    5200

In [12]:
people = {'Sales':{'name':'Sam','age':'24','sex':'Male'},
          'Marketing':{'name':'Sanaya','age':'24','sex':'Female'}} 
df2 = pd.DataFrame(people)
print(df2)

     Sales Marketing
name   Sam    Sanaya
age     24        24
sex   Male    Female

Example 22: Create and display a DataFrame from a 2D dictionary, Sales, which stores the quarter wise sales as inner dictionary for two years.

In [14]:
Sales = {'yr1':{'Qtr1':34500,'Qtr2':56000,'Qtr3':47000,'Qtr4':49000},
         'yr2':{'Qtr1':44900,'Qtr2':46100,'Qtr3':57000,'Qtr4':59000}} 
df3 = pd.DataFrame(Sales) 
print(df3)

        yr1    yr2
Qtr1  34500  44900
Qtr2  56000  46100
Qtr3  47000  57000
Qtr4  49000  59000

In [16]:
import pandas as pd
collect1 = {'yr1':1500, 'yr2':2500} 
collect2 = {'yr1':2200, 'Nil':0} 
collect = {'I':collect1, 'II':collect2}
df4 = pd.DataFrame(collect) 
print(df4)

          I      II
yr1  1500.0  2200.0
yr2  2500.0     NaN
Nil     NaN     0.0

Example 23: Carefully read the code 
(i) List the index labels of the DataFrame df3
(ii)List the column names of DtaFrame df3

In [18]:
import pandas as pd 
yr1 = {'Qtr1':44900,'Qtr2':46100,'Q3':57000,'Q4':59000} 
yr2 = {'A':54500,'B':51000,'Qtr4':57000} 
disales1 = {1:yr1,2:yr2} 
df3 = pd.DataFrame(disales1)
print(df3)

            1        2
Qtr1  44900.0      NaN
Qtr2  46100.0      NaN
Q3    57000.0      NaN
Q4    59000.0      NaN
A         NaN  54500.0
B         NaN  51000.0
Qtr4      NaN  57000.0

### Creating a DataFrame Object from a list of Dictionaries/Lists

In [24]:
import pandas as pd 
topperA = {'Rollno':115, 'Name':'Kajal','Marks':97.5}
topperB = {'Rollno':236, 'Name':'Ayushi','Marks':78.5}
topperC = {'Rollno':307, 'Name':'Nada','Marks':85.5}
topperD = {'Rollno':422, 'Name':'Shashi','Marks':89.5} 
toppers = [topperA,topperB,topperC,topperD]
topdf = pd.DataFrame(toppers) 
print(topdf) 
topdf = pd.DataFrame(toppers, index = ['SecA','SecB','SecC','SecD']) 
print(topdf)

   Rollno    Name  Marks
0     115   Kajal   97.5
1     236  Ayushi   78.5
2     307    Nada   85.5
3     422  Shashi   89.5
      Rollno    Name  Marks
SecA     115   Kajal   97.5
SecB     236  Ayushi   78.5
SecC     307    Nada   85.5
SecD     422  Shashi   89.5

Example 24: Write a program to create a dataframe from a list containing dictionaries of the sales performance of four zone offices. Zone names should be the row labels.

In [25]:
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
salesdf = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD'])
print(salesdf)

       Target  Sales
zoneA   56000  58000
zoneB   70000  68000
zoneC   75000  78000
zoneD   60000  61000

In [29]:
list2 =[[25,45,60],[34,67,89],[88,90,56]]
df1 = pd.DataFrame(list2) 
print(df1)

    0   1   2
0  25  45  60
1  34  67  89
2  88  90  56

Example 25: Write a program to create a dataframe from a 2D list. Specify own index labels.

In [31]:
import pandas as pd 
list = [[25,45,60],[34,67,89],[88,90,56]] 
df2 = pd.DataFrame(list, index = ['row1','row2','row3']) 
print(df2)

       0   1   2
row1  25  45  60
row2  34  67  89
row3  88  90  56

Example 26: Write a program create a dataframe from a list containing 2 lists, each containing Target and actual Sales figures of four zonal offices. Give appropriate row labels.

In [34]:
import pandas as pd 
Target = [56000,70000,86000,75000] 
Sales = [58000,68000,78000,89000] 
ZoneSales = [Target,Sales] 
zsaledf = pd.DataFrame(ZoneSales, columns = ['ZoneA','ZoneB','ZoneC','ZoneD'],
                       index = ['Target','Sales']) 
print(zsaledf)

        ZoneA  ZoneB  ZoneC  ZoneD
Target  56000  70000  86000  75000
Sales   58000  68000  78000  89000

### Creating a DataFrame Object from a 2-D ndarray

In [1]:
import pandas as pd 
import numpy as np 
narr1 = np.array([[1,2,3],[4,5,6]],np.int32) 
print(narr1.shape) 
dtf1 = pd.DataFrame(narr1) 
print(dtf1)

(2, 3)
   0  1  2
0  1  2  3
1  4  5  6

Specifying own columns name

In [38]:
dtf2 = pd.DataFrame(narr1, columns = ['One','Two','Three']) 
print(dtf2)

   One  Two  Three
0    1    2      3
1    4    5      6

In [41]:
narr2 = np.array([[11.5,21.2,33.8],[40,50,60],[212.3,301.5,405.2]]) 
df3 = pd.DataFrame(narr2, index = ['A','B','C'], columns = ['First','Second','Third']) 
print(df3)

   First  Second  Third
A   11.5    21.2   33.8
B   40.0    50.0   60.0
C  212.3   301.5  405.2

In [3]:
import numpy as np 
import pandas as pd 
narr3 = np.array([list([101.5,201.2]),list([400,50,600,700]),list([212.3,301.5,405.2])], 
                 dtype = object)
dtf4 = pd.DataFrame(narr3) 
print(dtf4)

                       0
0         [101.5, 201.2]
1    [400, 50, 600, 700]
2  [212.3, 301.5, 405.2]

Example 27: What will be the output of the following code?

In [50]:
import pandas as pd 
import numpy as np 
arr1 = np.array([ [11,12],[13,14],[15,26]],np.int32) 
dtf2 = pd.DataFrame(arr1) 
print(dtf2)

    0   1
0  11  12
1  13  14
2  15  26

Example 28: Write a program to create a DataFrame from a 2D array.

In [51]:
import pandas as pd 
import numpy as np 
arr2 = np.array([ [101,113,124],[130,140,200],[115,216,217]]) 
dtf3 = pd.DataFrame(arr2) 
print(dtf3)

     0    1    2
0  101  113  124
1  130  140  200
2  115  216  217

### Creating a DataFrame Obj. from a 2D Dictionary with Values as Series Obj.

In [52]:
import pandas as pd 
staff = pd.Series([20,30,44]) 
salaries = pd.Series([166000,246000,563000]) 
school = {'people':staff,'Amount':salaries} 
df4 = pd.DataFrame(school) 
print(df4)

   people  Amount
0      20  166000
1      30  246000
2      44  563000

Example 29: Consider two series object staff and salaries that store the number of people in verious office branches and salaries distributed in these branches, respectively.
Write a program to create another Series object that stores average salary per branch and then create a DataFrame object from these Series objects.

In [54]:
import pandas as pd 
import numpy as np 
staff = pd.Series([20,36,44]) 
salaries = pd.Series([279000,366800,563000]) 
avg = salaries/staff 
org = {'people':staff, 'Amount':salaries,'Average':avg} 
dtf5 = pd.DataFrame(org) 
print(dtf5)

   people  Amount       Average
0      20  279000  13950.000000
1      36  366800  10188.888889
2      44  563000  12795.454545

In [5]:
import pandas as pd
import numpy as np 
s = np.array([ [1,2,3],[4,5,6] ]) 
df1 = pd.DataFrame(s)
print(df1)

   0  1  2
0  1  2  3
1  4  5  6

In [11]:
print(pd.DataFrame([ [1,2,3],[4,5,6] ],[0,1] ))
print(pd.DataFrame([ [1,2,3],[4,5,6] ] ))
print(pd.DataFrame([ [1,2,3],[4,5,6] ],["I","II"] ))

   0  1  2
0  1  2  3
1  4  5  6
   0  1  2
0  1  2  3
1  4  5  6
    0  1  2
I   1  2  3
II  4  5  6

In [12]:
import pandas as pd 
people = {'Sales':{'name':'Sam','age':'24','sex':'Male'},
          'Marketing':{'name':'Sanaya','age':'24','sex':'Female'}} 
df2 = pd.DataFrame(people)
print(df2)

     Sales Marketing
name   Sam    Sanaya
age     24        24
sex   Male    Female

In [13]:
print(df2.index)

Index(['name', 'age', 'sex'], dtype='object')

In [14]:
print(df2.columns)

Index(['Sales', 'Marketing'], dtype='object')

In [15]:
print(df2.size)

6

In [16]:
print(df2.axes)

[Index(['name', 'age', 'sex'], dtype='object'), Index(['Sales', 'Marketing'], dtype='object')]

In [18]:
print(df2.dtypes)

Sales        object
Marketing    object
dtype: object

In [19]:
print(df2.ndim)

2

In [20]:
print(df2.empty)

False

In [21]:
print(df2.shape)

(3, 2)

Getting Number of Rows in a DataDrame

In [24]:
print(len(df2))

3

Getting Count of non-NA Values in DataFrame

In [28]:
print(df2)
print(df2.count()) 
print(df2.count(0))

     Sales Marketing
name   Sam    Sanaya
age     24        24
sex   Male    Female
Sales        3
Marketing    3
dtype: int64
Sales        3
Marketing    3
dtype: int64

In [29]:
print(df2.count(1)) 
print(df2.count(axis = 'columns'))

name    2
age     2
sex     2
dtype: int64
name    2
age     2
sex     2
dtype: int64

Tranposing a DataFrame

In [31]:
print(df2) 
print(df2.T)

     Sales Marketing
name   Sam    Sanaya
age     24        24
sex   Male    Female
             name age     sex
Sales         Sam  24    Male
Marketing  Sanaya  24  Female

Example 30: Write a program to create a DataFrame to store weight, age and names of 3 people. Print the DataFrame and its transpose

In [32]:
import pandas as pd 
v = pd.DataFrame({'weight':[45,72,66],
                  'Name':['Arnav','Charley','Guru'],
                  'Age':[15,22,35]}) 
print("Original DataFrame") 
print(v) 
print("Transpose") 
print(v.T)

Original DataFrame
   weight     Name  Age
0      45    Arnav   15
1      72  Charley   22
2      66     Guru   35
Transpose
            0        1     2
weight     45       72    66
Name    Arnav  Charley  Guru
Age        15       22    35

In [35]:
print(v.shape[1]) 
print(v.shape[0])

3
3

Numpy Representation of DataFrame

In [38]:
print(v.values)

[[45 'Arnav' 15]
 [72 'Charley' 22]
 [66 'Guru' 35]]

### Selecting/Accessing a Column

In [40]:
#Syntax: <DataFrame>[<column name>] we can use (.) also
import pandas as pd 
import pandas as pd
dict = {'students': ['Ruchika','Neha','Mark','Bianca','Jamaal'],
        'marks': [79.5,83.75,74,88.5,89], 'Sports': ['Cricket','Badminton',
                                                     'Football','Athletics','kabaddi']} 
#print(dict)
df1 = pd.DataFrame(dict)
print(df1)

  students  marks     Sports
0  Ruchika  79.50    Cricket
1     Neha  83.75  Badminton
2     Mark  74.00   Football
3   Bianca  88.50  Athletics
4   Jamaal  89.00    kabaddi

In [45]:
print(df1.students)

students    5
marks       5
Sports      5
dtype: int64
0    Ruchika
1       Neha
2       Mark
3     Bianca
4     Jamaal
Name: students, dtype: object

In [46]:
print(df1.marks)

0    79.50
1    83.75
2    74.00
3    88.50
4    89.00
Name: marks, dtype: float64

In [47]:
print(df1.Sports)

0      Cricket
1    Badminton
2     Football
3    Athletics
4      kabaddi
Name: Sports, dtype: object

Selecting/Accessing multiples columns

In [50]:
#Syntax:<DataFrame>[[<column name>,column name>column name>......]] 
print(df1.students,df1.marks,df1.Sports)

0    Ruchika
1       Neha
2       Mark
3     Bianca
4     Jamaal
Name: students, dtype: object 0    79.50
1    83.75
2    74.00
3    88.50
4    89.00
Name: marks, dtype: float64 0      Cricket
1    Badminton
2     Football
3    Athletics
4      kabaddi
Name: Sports, dtype: object

Example 31: Given a DataFrame namely aid that stores the aid by NGOs for different states. Write a program to display the aid.
(i) Books and Uniform only            (ii) Shoes only

In [11]:
import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
print(s) 
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                ) 
print(a) 
# You can not pass a dataframe inside a dataframe.
b = pd.DataFrame(s,index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                ) 
print(b)

      0     1    2     3
0  7916  6189  610  8810
1  8508  8202  508  6798
2  7226  6149  611  9611
3  7617  6157  457  6457
        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
        Toys  Books  Uniform  Shoes
Andhra   NaN    NaN      NaN    NaN
Odisha   NaN    NaN      NaN    NaN
M.P      NaN    NaN      NaN    NaN
U.P      NaN    NaN      NaN    NaN

In [2]:
import pandas as pd 
a = [7916,6189,610,8810] 
b = [8508,8202,508,6798] 
c = [7226,6149,611,9611] 
d = [7617,6157,457,6457] 
e = [a,b,c,d] 
aid = pd.DataFrame(e, columns = ['Toys','Books','Uniform','Shoes'],
                 index = ['Andhra','Odisha','M.P','U.P']) 
print(aid)
print("Aid for books and uniform:") 
print(aid[['Books','Uniform']]) 
print("Aid for shoes:") 
print(aid['Shoes'])

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
Aid for books and uniform:
        Books  Uniform
Andhra   6189      610
Odisha   8202      508
M.P      6149      611
U.P      6157      457
Aid for shoes:
Andhra    8810
Odisha    6798
M.P       9611
U.P       6457
Name: Shoes, dtype: int64

Selecting/Accessing a Subset from a DataFrame using Row/Column Names

In [19]:
#Syntax: <DataFrameObject>.loc[,startrow>: <endrow>, <startcolumn>: <endcolumn>]
import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
# print(s) 
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                )
print(a) 

# To Access a row
print(a.loc['M.P', :])


# To Access multiple row
print(a.loc['Andhra':'U.P',:])

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
Toys       7226
Books      6149
Uniform     611
Shoes      9611
Name: M.P, dtype: int64
        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457

To Access selective columns

In [ ]:
#Syntax: <DFobject>.loc[ :, <start column>:<end column> ]

In [7]:
import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
# print(s) 
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                )
print(a) 
print(a.loc[:, 'Toys':'Books'])

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
        Toys  Books
Andhra  7916   6189
Odisha  8508   8202
M.P     7226   6149
U.P     7617   6157

To Access range of columns from a range of rows

In [11]:
import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
# print(s) 
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                )
print(a) 
print(a.loc['M.P':'U.P', 'Toys': 'Uniform'])

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
     Toys  Books  Uniform
M.P  7226   6149      611
U.P  7617   6157      457

Example 32: Given a DataFrame namely aid that stores the aid by NGO for different states. Write a program to display the aid for states 'Andhra' and 'Odisha' for books and uniform only.

In [14]:
import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                )
print(a) 
print(a.loc['Andhra':'Odisha', 'Books':'Uniform'])

#Extra performance

print(a.loc[['Andhra','U.P'],['Toys','Shoes']])

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
        Books  Uniform
Andhra   6189      610
Odisha   8202      508
        Toys  Shoes
Andhra  7916   8810
U.P     7617   6457

### Selecting Rows/Columns from a DataFrame

In [2]:
#Syntax: <DFobject>.iloc[<start row index>:<end row index>,<start col index>:<end column index>
import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                )
print(a) 
print(a.iloc[0:2,1:3])

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
        Books  Uniform
Andhra   6189      610
Odisha   8202      508

In [1]:
import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
# print(s) 
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                )
print(a) 
print(a.iloc[0:2,1:2])

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
        Books
Andhra   6189
Odisha   8202

Selecting/Accessing Individual Value

In [1]:
#Syntax:<DFobject>.<column>[<row name or row numaric index>] 
import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
# print(s) 
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                )
print(a) 
print(a.Uniform['U.P'])

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
457

In [7]:
# You can use at or iat attributes with DF object 
#Syntax:<Dfobject>.at[<row label>, col label>] 

#Syntax:<DFobject>.iat[<row inde no.>, col index no.>,]

import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                )
print(a) 
print(a.at['Andhra','Shoes'])

print(a.iat[2,1])

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
8810
6149

Selecting DataFrame Rows/Columns based on Boolean Conditions

In [20]:
import pandas as pd 
s = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]], index = [0,1,2,3], columns = [0,1,2,3])
a = pd.DataFrame([ [7916,6189,610,8810],[8508,8202,508,6798],[7226,6149,611,9611],
                  [7617,6157,457,6457]],index = ['Andhra','Odisha','M.P','U.P'] ,
                 columns = ['Toys','Books','Uniform','Shoes']
                )
print(a) 
print(a['Toys']>8000)
print(a.loc['Andhra']>7000)

        Toys  Books  Uniform  Shoes
Andhra  7916   6189      610   8810
Odisha  8508   8202      508   6798
M.P     7226   6149      611   9611
U.P     7617   6157      457   6457
Andhra    False
Odisha     True
M.P       False
U.P       False
Name: Toys, dtype: bool
Toys        True
Books      False
Uniform    False
Shoes       True
Name: Andhra, dtype: bool

Example 35 : From the series Ser1 of areas that stores in km2, find out the areas that are ,more than 50000km2.

In [23]:
import pandas as pd 
s=pd.Series([34567,34543,54334,23345,45678,90876,56790]) 
print(s)
print(s[s>50000])

0    34567
1    34543
2    54334
3    23345
4    45678
5    90876
6    56790
dtype: int64
2    54334
5    90876
6    56790
dtype: int64

Example 35: Given a Series object s5. Write a program to store the squares of the Series values in object s6. Display s6's values which are>15

In [24]:
import pandas as pd 
s5 = pd.Series([3,5,6,7,8,9,4,2]) 
print("Series object s5") 
s6 = s5**2 
print("Values in s6>15") 
print(s6[s6>15])

Series object s5
Values in s6>15
1    25
2    36
3    49
4    64
5    81
6    16
dtype: int64

### Adding/Modifying a column

In [3]:
#***********Adding/Modifying a Column******
#Syntax:<DF>.<column name> = <new value>  Or  <DF>.[<column>] = <new  value>

import pandas as pd 
import pandas as pd 
import pandas as pd
dict = {'students': ['Ruchika','Neha','Mark','Bianca','Jamaal'],
        'marks': [79.5,83.75,74,88.5,89], 'Sports': ['Cricket','Badminton',
                                                     'Football','Athletics','kabaddi']} 
df1 = pd.DataFrame(dict)
print(df1) 
df1['Grade'] = ['A','B','C','D','E'] #dfnew['capital city'] = ['Rome','Madrid','Athens','Paris','Lisbon']

print(df1)

  students  marks     Sports
0  Ruchika  79.50    Cricket
1     Neha  83.75  Badminton
2     Mark  74.00   Football
3   Bianca  88.50  Athletics
4   Jamaal  89.00    kabaddi
  students  marks     Sports Grade
0  Ruchika  79.50    Cricket     A
1     Neha  83.75  Badminton     B
2     Mark  74.00   Football     C
3   Bianca  88.50  Athletics     D
4   Jamaal  89.00    kabaddi     E

Adding/Modifying a Row

In [21]:
# To change or add a row
#Syntax:<DF>.at[<row name>,: ] = <new value> 
#Syntax:<DF>.loc[<row name>,: ] = <new value>
import pandas as pd 
import pandas as pd 
import pandas as pd
dict = {'students': ['Ruchika','Neha','Mark','Bianca','Jamaal'],
        'marks': [79.5,83.75,74,88.5,89], 'Sports': ['Cricket','Badminton',
                                                     'Football','Athletics','kabaddi']}
index =  ["A","B","C","D","E"] 
df1 = pd.DataFrame(dict,index) 
print(df1)
df1.loc[5,:] = ["Sweta",90.0,"Fifa"]
print(df1) 
df1.loc[len(df1)] = ["Veehan",90.0,"Fifa"] 
print(df1)

  students  marks     Sports
A  Ruchika  79.50    Cricket
B     Neha  83.75  Badminton
C     Mark  74.00   Football
D   Bianca  88.50  Athletics
E   Jamaal  89.00    kabaddi
  students  marks     Sports
A  Ruchika  79.50    Cricket
B     Neha  83.75  Badminton
C     Mark  74.00   Football
D   Bianca  88.50  Athletics
E   Jamaal  89.00    kabaddi
5    Sweta  90.00       Fifa
  students  marks     Sports
A  Ruchika  79.50    Cricket
B     Neha  83.75  Badminton
C     Mark  74.00   Football
D   Bianca  88.50  Athletics
E   Jamaal  89.00    kabaddi
5    Sweta  90.00       Fifa
6   Veehan  90.00       Fifa

In [10]:
import pandas as pd
data = {"Name": ["Alice", "Bob"], "Age": [25, 30]}
df = pd.DataFrame(data)

# Add a new row using loc[]
df.loc[len(df)] = ["Charlie", 35]
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

Example 36: Consider the following dataframe saleDf:. Write a program to add a column namely Orders having values 6000,6700,6200 and 6000 respectively for the zones A,B,C and D. The program should also add a new zone ZoneE. Add some dummy values in this row.

In [47]:
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
salesdf = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD'])
print(salesdf) 
salesdf['Orders'] = [6000,6700,6200,6000] 
print(salesdf)
salesdf.loc['zoneE',:] = [50000,56000,58000] 
print(salesdf)

       Target  Sales
zoneA   56000  58000
zoneB   70000  68000
zoneC   75000  78000
zoneD   60000  61000
       Target  Sales  Orders
zoneA   56000  58000    6000
zoneB   70000  68000    6700
zoneC   75000  78000    6200
zoneD   60000  61000    6000
        Target    Sales   Orders
zoneA  56000.0  58000.0   6000.0
zoneB  70000.0  68000.0   6700.0
zoneC  75000.0  78000.0   6200.0
zoneD  60000.0  61000.0   6000.0
zoneE  50000.0  56000.0  58000.0

Adding Rows from a DataFrame

In [55]:
# By Using Append method <DF>.append() 
import pandas as pd 
s = pd.DataFrame({'Col':[15,13,11], 'Col2':[14,15,16]})
print(s) 
v = pd.DataFrame({'Col':[20,21,23], 'Col2':[24,25,26]})
print(v) 
# k = s.append(v, ignore_index = True) 
# print(k)
# To do

   Col  Col2
0   15    14
1   13    15
2   11    16
   Col  Col2
0   20    24
1   21    25
2   23    26

Modifying a Single Cell

In [58]:
#Syntax: <DF>.<col.name>[<row name/label>] = <new/modified values> 
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
a = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD'])
print(a) 
a.Target['zoneD'] = 56000 
print(a)

       Target  Sales
zoneA   56000  58000
zoneB   70000  68000
zoneC   75000  78000
zoneD   60000  61000
       Target  Sales
zoneA   56000  58000
zoneB   70000  68000
zoneC   75000  78000
zoneD   56000  61000

/tmp/ipykernel_162/1244436850.py:10: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  a.Target['zoneD'] = 56000

Creating a New DataFrame from a DataFrame Shallow vs. Real copy

In [70]:
import pandas as pd 
import numpy as np 
arr2 = np.array([ [101,113,124],[130,140,200],[115,216,217]]) 
dtf3 = pd.DataFrame(arr2) 
print(dtf3)
df1 = pd.DataFrame(dtf3) 
print(df1)
# To do

     0    1    2
0  101  113  124
1  130  140  200
2  115  216  217
     0    1    2
0  101  113  124
1  130  140  200
2  115  216  217
False
     0    1    2
0  101  113  124
1  130  140  200
2  115  216  217

### Deleting/Renaming Columns/Rows

Deleting Rows/Columns in a DataFrame

In [31]:
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
v = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD'])
print(v) 
del v['Sales'] 
print(v)

       Target  Sales
zoneA   56000  58000
zoneB   70000  68000
zoneC   75000  78000
zoneD   60000  61000
       Target
zoneA   56000
zoneB   70000
zoneC   75000
zoneD   60000

Example 37: From the dtf5 used above, create another DataFrame and it must not contain the column "Population" and the the row Bangalore.

In [80]:
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
salesdf = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD'])
# print(salesdf) 
salesdf['Orders'] = [6000,6700,6200,6000] 
# print(salesdf)
salesdf.loc['zoneE',:] = [50000,56000,58000] 
print(salesdf)

        Target    Sales   Orders
zoneA  56000.0  58000.0   6000.0
zoneB  70000.0  68000.0   6700.0
zoneC  75000.0  78000.0   6200.0
zoneD  60000.0  61000.0   6000.0
zoneE  50000.0  56000.0  58000.0

In [29]:
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
w = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD']) 
print(w)
w['Orders'] = [6000,6700,6200,6000] 
w.loc['zoneE',:] = [50000,56000,58000] 
print(w) 
dtf6 = pd.DataFrame(w) 
del dtf6['Target'] 
dtf6 = dtf6.drop(['zoneE']) 
print(dtf6)

       Target  Sales
zoneA   56000  58000
zoneB   70000  68000
zoneC   75000  78000
zoneD   60000  61000
        Target    Sales   Orders
zoneA  56000.0  58000.0   6000.0
zoneB  70000.0  68000.0   6700.0
zoneC  75000.0  78000.0   6200.0
zoneD  60000.0  61000.0   6000.0
zoneE  50000.0  56000.0  58000.0
         Sales  Orders
zoneA  58000.0  6000.0
zoneB  68000.0  6700.0
zoneC  78000.0  6200.0
zoneD  61000.0  6000.0

Renaming Rows/Columns

In [86]:
# Syntax: <DF>.rename(index = {<name dictionary>}, columns = {<name dictionary>},
#                                  inplace = False
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
w = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD'])
w['Orders'] = [6000,6700,6200,6000] 
w.loc['zoneE',:] = [50000,56000,58000] 
print(w) 
d = w.rename(index = {'zoneA':'A','zoneB':'B','zoneC':'C','zoneD':'D','zoneE':'E'})
print(d)

        Target    Sales   Orders
zoneA  56000.0  58000.0   6000.0
zoneB  70000.0  68000.0   6700.0
zoneC  75000.0  78000.0   6200.0
zoneD  60000.0  61000.0   6000.0
zoneE  50000.0  56000.0  58000.0
    Target    Sales   Orders
A  56000.0  58000.0   6000.0
B  70000.0  68000.0   6700.0
C  75000.0  78000.0   6200.0
D  60000.0  61000.0   6000.0
E  50000.0  56000.0  58000.0

In [88]:
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
w = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD'])
w['Orders'] = [6000,6700,6200,6000] 
w.loc['zoneE',:] = [50000,56000,58000] 
print(w) 
d = w.rename(columns = {'Target':'T'})
print(d)

        Target    Sales   Orders
zoneA  56000.0  58000.0   6000.0
zoneB  70000.0  68000.0   6700.0
zoneC  75000.0  78000.0   6200.0
zoneD  60000.0  61000.0   6000.0
zoneE  50000.0  56000.0  58000.0
             T    Sales   Orders
zoneA  56000.0  58000.0   6000.0
zoneB  70000.0  68000.0   6700.0
zoneC  75000.0  78000.0   6200.0
zoneD  60000.0  61000.0   6000.0
zoneE  50000.0  56000.0  58000.0

Example 38: Consider the saleDf shown below. Write a program to rename indexes of 'zoneC' and 'zoneD' as 'Central' and 'Dakshin' respectively and the column names 'Target and 'Sales' as 'Taegeted' and 'Achieved' respectively.

In [91]:
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
v = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD'])
print(v) 
print(v.rename(index = {'zoneC':'Central','zoneD':'Dakshin'}, 
               columns = {'Target':'Targeted','Sales':'Achieved'}))

       Target  Sales
zoneA   56000  58000
zoneB   70000  68000
zoneC   75000  78000
zoneD   60000  61000
         Targeted  Achieved
zoneA       56000     58000
zoneB       70000     68000
Central     75000     78000
Dakshin     60000     61000

Example 39: Will the previous program reflect the renamed indexes and columns names in the dataframe v ? Make changes in the previous program so that dataframe v has the changed indexes and columns.

In [94]:
import pandas as pd 
zoneA = {'Target':56000,'Sales':58000} 
zoneB = {'Target':70000,'Sales':68000} 
zoneC = {'Target':75000,'Sales':78000} 
zoneD = {'Target':60000,'Sales':61000} 
sales = [zoneA,zoneB,zoneC,zoneD] 
v = pd.DataFrame(sales, index = ['zoneA','zoneB','zoneC','zoneD'])
# print(v) 
print(v.rename(index = {'zoneC':'Central','zoneD':'Dakshin'}, 
               columns = {'Target':'Targeted','Sales':'Achieved'}, inplace = True))
print(v)

None
         Targeted  Achieved
zoneA       56000     58000
zoneB       70000     68000
Central     75000     78000
Dakshin     60000     61000

More on DataFrame Indexing-BOOLEAN INDEXING

In [96]:
# Creating DataFrame with boolean indexs 
import pandas as pd 
Days = ['Monday','Tuesday','Wednesday','Thursday','Friday'] 
Classes = [6,0,3,0,8] 
dc = {'Days':Days, 'No. of classes':Classes} 
classdf = pd.DataFrame(dc, index = [True,False,True,False,True]) 
print(classdf)

            Days  No. of classes
True      Monday               6
False    Tuesday               0
True   Wednesday               3
False   Thursday               0
True      Friday               8

In [97]:
import pandas as pd 
Days = ['Monday','Tuesday','Wednesday','Thursday','Friday'] 
Classes = [6,0,3,0,8] 
dc = {'Days':Days, 'No. of classes':Classes} 
classdf = pd.DataFrame(dc, index = [1,0,1,0,1]) 
print(classdf)

        Days  No. of classes
1     Monday               6
0    Tuesday               0
1  Wednesday               3
0   Thursday               0
1     Friday               8

Accesing Rows from DataFrame with Boolean Indexes

In [103]:
import pandas as pd 
Days = ['Monday','Tuesday','Wednesday','Thursday','Friday'] 
Classes = [6,0,3,0,8] 
dc = {'Days':Days, 'No. of classes':Classes} 
classdf = pd.DataFrame(dc, index = [True,False,True,False,True]) 
print(classdf) 
print(classdf.loc[True]) 
print(classdf.loc[False])

            Days  No. of classes
True      Monday               6
False    Tuesday               0
True   Wednesday               3
False   Thursday               0
True      Friday               8
           Days  No. of classes
True     Monday               6
True  Wednesday               3
True     Friday               8
           Days  No. of classes
False   Tuesday               0
False  Thursday               0

In [104]:
import pandas as pd 
Days = ['Monday','Tuesday','Wednesday','Thursday','Friday'] 
Classes = [6,0,3,0,8] 
dc = {'Days':Days, 'No. of classes':Classes} 
classdf = pd.DataFrame(dc, index = [1,0,1,0,1]) 
print(classdf) 
print(classdf.loc[0])

        Days  No. of classes
1     Monday               6
0    Tuesday               0
1  Wednesday               3
0   Thursday               0
1     Friday               8
       Days  No. of classes
0   Tuesday               0
0  Thursday               0

In [108]:
import pandas as pd 
Days = ['Monday','Tuesday','Wednesday','Thursday','Friday'] 
Classes = [6,0,3,0,8] 
dc = {'Days':Days, 'No. of classes':Classes} 
classdf = pd.DataFrame(dc, index = [1,0,1,0,1]) 
print(classdf) 
print(classdf.loc[classdf['No. of classes']>0])

        Days  No. of classes
1     Monday               6
0    Tuesday               0
1  Wednesday               3
0   Thursday               0
1     Friday               8
        Days  No. of classes
1     Monday               6
1  Wednesday               3
1     Friday               8