# Python Pandas I

## Series DataStructure

### Creating series Object

In [116]:
import pandas as sweta

In [117]:
obj1=sweta.Series(range(5))
print(obj1)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [118]:
obj1=sweta.Series([3.4, 5.0, 6.5, 8.])
print(obj1)

0    3.4
1    5.0
2    6.5
3    8.0
dtype: float64

Example 1 : Write code to create a Series Object using the python sequence [4, 6, 8, 10]. Assume that Pandas
is imported as alias name pd.

In [119]:
import pandas as pd
s1 = pd.Series([4, 6, 8, 10])
# print("Series object 1 :", s1 Not to be used
print("Series Object 1 :")
print(s1)

Series Object 1 :
0     4
1     6
2     8
3    10
dtype: int64

Example 2 : Write a code to create a Series object using the python sequence (11, 21, 31, 41).Assume that pandas is imported as alias name pd.

In [120]:
import pandas as pd
s2 = pd.Series((11,21,31,41))
print(s2)

0    11
1    21
2    31
3    41
dtype: int64

Example 3: Write a code to create a Series object using individual charactors 'o', 'h' and 'o'. Assume that pandas is imported as alias name pd

In [121]:
import pandas as pd
s3 = pd.Series(('o', 'h', 'o'))
print(s3)

0    o
1    h
2    o
dtype: object

Example 4: Write a code to create a Series object using a string: "So funny". Assume that pandas is imported as alias name pd

In [122]:
s4 = pd.Series(("So funny"))
print(s4)

0    So funny
dtype: object

Example 5: Write a code to create a Series object using three different words: "I am laughing".Assume that pandas is imported as alias name pd

In [123]:
s5 = pd.Series(("i", "am", "laughing"))
print(s5)

0           i
1          am
2    laughing
dtype: object

### Specify data as an ndarray

In [124]:
import pandas as pd
import numpy as np
s1 = np.arange(3, 13,3.5)
print(s1)
s2 = pd.Series(s1)
print(s2)

[ 3.   6.5 10. ]
0     3.0
1     6.5
2    10.0
dtype: float64

Example 6: Write a program to create a series object using an ndarray that has 5 elements in the range 24 to 64.

In [125]:
s1 = np.arange(24,64,8)
print(s1)
s2 = pd.Series(s1)
print(s2)

[24 32 40 48 56]
0    24
1    32
2    40
3    48
4    56
dtype: int64

Example 6 II :  Write a program to create a series object using an ndarray that has 5 elements in the range 24 to 64.d
d

In [126]:
s5 = pd.Series(np.linspace(24,64,5))
print(s5)

0    24.0
1    34.0
2    44.0
3    54.0
4    64.0
dtype: float64

Example 7: Write a program to create a series object using an ndarray that is created by tiling a list [3,5],twice.

In [127]:
s3 = pd.Series(np.tile([3,5], 2))
print(s3)

0    3
1    5
2    3
3    5
dtype: int64

In [128]:
s4 = pd.Series({'Jan':31, 'Feb':28,'Mar':31})
print(s4)

Jan    31
Feb    28
Mar    31
dtype: int64

Example 8: Write a program to create a series object using a dictionary that stores the number of students in each section of class 12 in
your school.

In [129]:
sudt = {'A':30, 'B':32, 'C':28, 'D':29}
s = pd.Series(sudt)
print(s)

A    30
B    32
C    28
D    29
dtype: int64

Specify data as a scalar value

In [130]:
medalsWon = pd.Series(10, index = range(0,1))
medal2 = pd.Series(15, index = range(1,6,2))
ser2 = pd.Series('Yet to start', index = ['Indore', 'Delhi', 'Simla'])
print(medalsWon)
print(medal2)
print(ser2)

0    10
dtype: int64
1    15
3    15
5    15
dtype: int64
Indore    Yet to start
Delhi     Yet to start
Simla     Yet to start
dtype: object

Example 9: Write a program to creata a series object that stores the initial budget allocated(50000/- each) for the four quarters of the year: Qtr1, Qtr2, Qtr3, Qtr4.

In [131]:
s1 = pd.Series(50000, index = ['Qtr1','Qtr2','Qtr3','Qtr4'])
print(s1)

Qtr1    50000
Qtr2    50000
Qtr3    50000
Qtr4    50000
dtype: int64

Example 10: Total no. of meadals won is 200 in the Inter University games held every alternate year. Write code to create a series object that stores these medals for games to be held in the decade 2020-
2029.

In [132]:
s1 = pd.Series(200, index = range(2020,2029,2))
print(s1)

2020    200
2022    200
2024    200
2026    200
2028    200
dtype: int64

### Creating Series Objects - Additional Functionality

In [8]:
obj1 = pd.Series([6.5,np.NaN, 2.34])
print(obj1)

0    6.50
1     NaN
2    2.34
dtype: float64

In [134]:
import pandas as pd
arr = [31,28,31,30]
mon = ['Jan','Feb','Mar','Apr']
obj5 = pd.Series(data = arr, index = mon, dtype = np.float64)
print(obj5)
obj2 = pd.Series(data = [32,34,35], index = ['A','B','C'])
print(obj2)
obj3 = pd.Series(arr, index = mon)
s3 = pd.Series(range(1,15,3), index = [x for x in 'abcde'])
print(obj3)
print(s3)

Jan    31.0
Feb    28.0
Mar    31.0
Apr    30.0
dtype: float64
A    32
B    34
C    35
dtype: int64
Jan    31
Feb    28
Mar    31
Apr    30
dtype: int64
a     1
b     4
c     7
d    10
e    13
dtype: int64

Example 11: A python list namely section stores the section names ('A','B','C','D') of class 12 in your schoool. Another contri stores the contribution made by these students to a charity fund endorsed by the school. Write code to create a series object that stores as the values and the section names as the indexes

In [135]:
section = ['A','B','C','D']
contri = [6700,5600,5000,5200]
s11 = pd.Series(data = contri, index = section)
print(s11)

A    6700
B    5600
C    5000
D    5200
dtype: int64

In [136]:
a = np.arange(9,13)
print(a)
s2 = pd.Series(index = a, data = a*2 )
print(s2)
s3 = pd.Series(index = a, data = a**2 )
print(s3)

[ 9 10 11 12]
9     18
10    20
11    22
12    24
dtype: int64
9      81
10    100
11    121
12    144
dtype: int64

In [137]:
lst = [9,10,11,12]
obj8 = pd.Series(data = (2 * lst))
print(obj8)

0     9
1    10
2    11
3    12
4     9
5    10
6    11
7    12
dtype: int64

Example 12: Write a program to creaye a series object that stores the contribution amount as the values and the section names as the indexes with datatype as float32.

In [9]:
import pandas as pd
import numpy as np
section = ['A','B','C','D','E']
contri = np.array([6700,5600,5000,5200,np.NaN])
s12 = pd.Series(data = contri*2, index = section, dtype = np.float32)
print(s12)

A    13400.0
B    11200.0
C    10000.0
D    10400.0
E        NaN
dtype: float32

In [139]:
val = np.arange(2.75,50,9.75)
print(val)
array = ([2.75,12.5,22.25,32.  ,41.75])
ob3 = pd.Series(val, index = ['a','b','a','a','b'])
print(ob3)

[ 2.75 12.5  22.25 32.   41.75]
a     2.75
b    12.50
a    22.25
a    32.00
b    41.75
dtype: float64

Appendix-I

In [140]:
s1 = pd.Series([11,12,13])
print(s1)

0    11
1    12
2    13
dtype: int64

In [141]:
a2 = pd.Series([11.1,12.2,13.3])
print(a2)

0    11.1
1    12.2
2    13.3
dtype: float64

In [142]:
a3 = pd.Series([11,12.2,13.3])
print(a3)

0    11.0
1    12.2
2    13.3
dtype: float64

In [143]:
a4 = pd.Series([11,12.2,13.3, "Hii"])
print(a4)

0      11
1    12.2
2    13.3
3     Hii
dtype: object

In [144]:
obj5 = pd.Series(data = arr, index = mon, dtype = np.float64)
print(obj5)
print(obj5.index)
print(obj5.values)

Jan    31.0
Feb    28.0
Mar    31.0
Apr    30.0
dtype: float64
Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')
[31. 28. 31. 30.]

In [145]:
obj2 = pd.Series([3.5,5.,6.5,8.])
print(obj2)
obj3 = pd.Series([6.5,np.NaN,2.34])
print(obj3)

0    3.5
1    5.0
2    6.5
3    8.0
dtype: float64
0    6.50
1     NaN
2    2.34
dtype: float64

Setting the index name.

In [146]:
ser1 = pd.Series([1,2,3], index = ['a','b','c'])
print(ser1)
ser1.index.name = "NewId"
print(ser1)

a    1
b    2
c    3
dtype: int64
NewId
a    1
b    2
c    3
dtype: int64

Setting Series Name

In [147]:
print(ser1)
ser1.name = "Mys"
print(ser1)
print(ser1.name)

NewId
a    1
b    2
c    3
dtype: int64
NewId
a    1
b    2
c    3
Name: Mys, dtype: int64
Mys

Retrieving Data Type (dtype) and Size of Type(itemsize) and Size

In [148]:
print(obj2.dtype)
print(obj2.size)
print(type(obj2))

print(obj2.shape, obj3.shape)

float64
4
<class 'pandas.core.series.Series'>
(4,) (3,)

Retrieving Dimension (number of axis: ndim attribute)
Size (size attribute) and Number of Bytes (nbytes attribute)

In [149]:
print(obj2.ndim)

1

In [150]:
print(obj2.size, obj3.size)

4 3

In [151]:
print(obj2.nbytes, obj3.nbytes)

32 24

Checking Emptyness (empty attributes) and presence of NaNs (hasnans attribute).

In [152]:
obj1 = pd.Series()
print(obj1.empty)

True

In [153]:
print(obj2.hasnans) # has NaN's

False

In [154]:
print(obj2.count())

4

In [155]:
print(obj3.count())

2

In [156]:
print(len(obj3))

3

Example 13: Consider the two series objects s11 and s12 that you created in example 11 and 12 respectively. Print the attribute od both these objects in a report  form as shown
below.

In [1]:
import pandas as pd
import numpy as np
section = ['A','B','C','D']
contri = [6700,5600,5000,5200]
s14 = pd.Series(data = contri, index = section)
print(s14)
section = ['A','B','C','D','E']
contri = np.array([6700,5600,5000,5200,np.NaN])
s15 = pd.Series(data = contri*2, index = section, dtype = np.float32)
print(s15)
print("Data type (.dtype)      :\t", s14.dtype, '\t\t', s15.dtype)
print("Shape (.shape)          :\t", s14.shape, '\t\t', s15.shape)
print("No. of bytes (.nbytes)  :\t", s14.nbytes, '\t\t', s15.nbytes)
print("No.of dimension (.ndim) :\t", s14.ndim, '\t\t', s15.ndim)
print("Item size (.itemsize)   :\t", s14.size, '\t\t', s15.size) # There is no property known as itemsize hence using size.
print("Has NaNs (.hasnans)     :\t", s14.hasnans, '\t\t', s15.hasnans)
print("Empty? (.empty)         :\t", s14.empty, '\t\t', s15.empty)

A    6700
B    5600
C    5000
D    5200
dtype: int64
A    13400.0
B    11200.0
C    10000.0
D    10400.0
E        NaN
dtype: float32
Data type (.dtype)      :	 int64 		 float32
Shape (.shape)          :	 (4,) 		 (5,)
No. of bytes (.nbytes)  :	 32 		 20
No.of dimension (.ndim) :	 1 		 1
Item size (.itemsize)   :	 4 		 5
Has NaNs (.hasnans)     :	 False 		 True
Empty? (.empty)         :	 False 		 False

#### Conda Upgrade :: Ignore

pip install -U %%markdown

pip install -U jedi-language-server

conda install -c conda-forge jedi-language-server

conda update -n base -c conda-forge conda

### Accessing a Series object and its elements.

import pandas as pd
dhirendra = pd.DataFrame()

In [1]:
import pandas as pd
s1 = [28,31,31]
s2 = ['Feb','Jan','Mar']
obj5 = pd.Series(data = s1, index = s2)
print(obj5)
print(obj5['Feb'])

Feb    28
Jan    31
Mar    31
dtype: int64
28

In [2]:
s1 = [11,14,17,20,23]
s2 = [0,1,2,3,4]
obj6 = pd.Series(data = s1, index = s2)
print(obj6)
print(obj6[3])

0    11
1    14
2    17
3    20
4    23
dtype: int64
20

In [3]:
s1 = [18,20,22,24]
s2 = [9,10,11,12]
obj7 = pd.Series(data = s1, index = s2)
print(obj7)
print(obj7[9])

9     18
10    20
11    22
12    24
dtype: int64
18

In [10]:
s1 = [81,100,121,144]
s2 = [9,10,11,12]
obj8 = pd.Series(data = s1, index = s2)
print(obj8)
print(obj8[11])

9      81
10    100
11    121
12    144
dtype: int64
121

In [31]:
import pandas as pd
s = [2.75,12.50,22.25,32.00,41.75]
r = ['a','b','a','a','b']
obj3 = pd.Series(data = s, index = r)
print(obj3)
print(obj3['b'])

a     2.75
b    12.50
a    22.25
a    32.00
b    41.75
dtype: float64
b    12.50
b    41.75
dtype: float64

In [32]:
print(obj3)

a     2.75
b    12.50
a    22.25
a    32.00
b    41.75
dtype: float64

In [9]:
import pandas as pd
s =[1.50,12.75,24.00,35.25,46.50]
v = [0,1,2,3,4]
obj1 = pd.Series(data = s, index = v)
print(obj1)
obj1[0] = 1.85
print(obj1)
obj1[2:4] = -15.75
print(obj1)

0     1.50
1    12.75
2    24.00
3    35.25
4    46.50
dtype: float64
0     1.85
1    12.75
2    24.00
3    35.25
4    46.50
dtype: float64
0     1.85
1    12.75
2   -15.75
3   -15.75
4    46.50
dtype: float64

In [12]:
a = [1.50,12.75,24.00,35.25,46.50]
b = ['a','b','c','d','e']
obj2 = pd.Series(data = a, index = b)
print(obj2)

obj2[1:5:2] = 380
print(obj2)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
a      1.5
b    380.0
c     24.0
d    380.0
e     46.5
dtype: float64

Renaming Indexes

In [16]:
import pandas as pd
a = [1.50,12.75,24.00,35.25,46.50]
b = ['a','b','c','d','e']
obj2 = pd.Series(data = a, index = b)
print(obj2)

#### Syntax: <Object>.index = <new index array>
obj2.index = ['v','w','x','y','z']
print(obj2)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
v     1.50
w    12.75
x    24.00
y    35.25
z    46.50
dtype: float64

Example 15: Write code to modify the amount of section A as 7600and for sections c and D as 7000. Print the changed object.

In [19]:
import pandas as pd
s = [7600,5600,5000,5200]
a = ['A','B','C','D']
s13 = pd.Series(data = s, index = a)
print(s13)

### after modifying 
s13[0] = 7600
s13[2: ] = 7000
print("Series object after modifying amounts:")
print(s13)

### use `ser.iloc[pos] = value for future****

A    7600
B    5600
C    5000
D    5200
dtype: int64
Series object after modifying amounts:
A    7600
B    5600
C    7000
D    7000
dtype: int64

/tmp/ipykernel_23896/2109743348.py:8: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s13[0] = 7600

The head() and tail() Functions

In [27]:
### Syntax: <pandas object>.head([n])
### Syntax: <pandas object>.tail([n])
import pandas as pd
a = [2.75,7.60,12.45,17.30,22.15,27.00,31.85,36.70,41.55,46.40,51.25]
b = [0,1,2,3,4,5,6,7,8,9,10]
c = pd.Series(data = a, index = b)
print(c)
print(c.head())
print(c.tail())
print(c.tail(7))
print(c.head(7))

0      2.75
1      7.60
2     12.45
3     17.30
4     22.15
5     27.00
6     31.85
7     36.70
8     41.55
9     46.40
10    51.25
dtype: float64
0     2.75
1     7.60
2    12.45
3    17.30
4    22.15
dtype: float64
6     31.85
7     36.70
8     41.55
9     46.40
10    51.25
dtype: float64
4     22.15
5     27.00
6     31.85
7     36.70
8     41.55
9     46.40
10    51.25
dtype: float64
0     2.75
1     7.60
2    12.45
3    17.30
4    22.15
5    27.00
6    31.85
dtype: float64

Example 16: A Series Object trdata consist of around 2500 rows of data. Write a program to print the following details.

In [ ]:
## (i) First 100 rows of data    (ii) Last 5 rows of data
import pandas as pd 
# data should be here
print(trdata.head(100)) 
print(trdata.tail())

Vector Operations on Series objects

In [29]:
import pandas as pd
s = [1.50,12.75,24.00,35.25,46.50] 
v = ['a','b','c','d','e']
u = pd.Series(data = s, index = v) 
print(u)
print(u+2)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
a     3.50
b    14.75
c    26.00
d    37.25
e    48.50
dtype: float64

In [30]:
import pandas as pd
s = [1.50,12.75,24.00,35.25,46.50] 
v = ['a','b','c','d','e']
u = pd.Series(data = s, index = v) 
print(u)
print(u*3)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
a      4.50
b     38.25
c     72.00
d    105.75
e    139.50
dtype: float64

In [2]:
import pandas as pd
s = [1.50,12.75,24.00,35.25,46.50] 
v = ['a','b','c','d','e']
u = pd.Series(data = s, index = v) 
print(u)
print(u>15)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
a    False
b    False
c     True
d     True
e     True
dtype: bool

In [3]:
import pandas as pd
a = [1.50,12.75,24.00,35.25,46.50]
b = ['a','b','c','d','e']
obj2 = pd.Series(data = a, index = b)
print(obj2)
print(u**2)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
a       2.2500
b     162.5625
c     576.0000
d    1242.5625
e    2162.2500
dtype: float64

Arithmetic on Series objects

In [34]:
import pandas as pd
a = [1.50,12.75,24.00,35.25,46.50]
b = ['a','b','c','d','e']
obj2 = pd.Series(data = a, index = b)
print(obj2)

import pandas as pd
s = [2.75,12.50,22.25,32.00,41.75]
r = ['a','b','a','a','b']
obj3 = pd.Series(data = s, index = r)
print(obj3)

print(obj2+obj3)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
a     2.75
b    12.50
a    22.25
a    32.00
b    41.75
dtype: float64
a     4.25
a    23.75
a    33.50
b    25.25
b    54.50
c      NaN
d      NaN
e      NaN
dtype: float64

In [35]:
import pandas as pd
a = [1.50,12.75,24.00,35.25,46.50]
b = ['a','b','c','d','e']
obj2 = pd.Series(data = a, index = b)
print(obj2)

import pandas as pd
s = [2.75,12.50,22.25,32.00,41.75]
r = ['a','b','a','a','b']
obj3 = pd.Series(data = s, index = r)
print(obj3)
print(obj2*obj3)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
a     2.75
b    12.50
a    22.25
a    32.00
b    41.75
dtype: float64
a      4.1250
a     33.3750
a     48.0000
b    159.3750
b    532.3125
c         NaN
d         NaN
e         NaN
dtype: float64

In [36]:
import pandas as pd
a = [1.50,12.75,24.00,35.25,46.50]
b = ['a','b','c','d','e']
obj2 = pd.Series(data = a, index = b)
print(obj2)

import pandas as pd
s = [2.75,12.50,22.25,32.00,41.75]
r = ['a','b','a','a','b']
obj3 = pd.Series(data = s, index = r)
print(obj3)
print(obj2/obj3)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
a     2.75
b    12.50
a    22.25
a    32.00
b    41.75
dtype: float64
a    0.545455
a    0.067416
a    0.046875
b    1.020000
b    0.305389
c         NaN
d         NaN
e         NaN
dtype: float64

In [38]:
import pandas as pd
a = [1.50,12.75,24.00,35.25,46.50]
b = ['a','b','c','d','e']
obj2 = pd.Series(data = a, index = b)
print(obj2)

import pandas as pd
s = [2.75,12.50,22.25,32.00,41.75]
r = ['a','b','a','a','b']
obj3 = pd.Series(data = s, index = r)
print(obj3)
print(obj2-obj3)
obj3.index = [1,2,3,4,5] 
print(obj3)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
a     2.75
b    12.50
a    22.25
a    32.00
b    41.75
dtype: float64
a    -1.25
a   -20.75
a   -30.50
b     0.25
b   -29.00
c      NaN
d      NaN
e      NaN
dtype: float64
1     2.75
2    12.50
3    22.25
4    32.00
5    41.75
dtype: float64

In [5]:
import pandas as pd
a = [1.50,12.75,24.00,35.25,46.50]
b = ['a','b','c','d','e']
obj2 = pd.Series(data = a, index = b)
print(obj2)

import pandas as pd
s = [2.75,12.50,22.25,32.00,41.75]
r = [1,2,3,4,5]
obj3 = pd.Series(data = s, index = r)
print(obj3)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
1     2.75
2    12.50
3    22.25
4    32.00
5    41.75
dtype: float64

In [6]:
obj2+obj3

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

Example 17: Number of students in classes 11 and 12 in three streams(Science,Commerce,Humanities) are stored in two series object c11 and c12. Write code to find total no. of students in classes 11 and 12, stream wise.

In [7]:
import pandas as pd 
s = pd.Series(data = [30,36,25], index = ['Science','Commerce','Humanities'])
u = pd.Series(data = [35,40,38], index = ['Science','Commerce','Humanities'])
print(s+u)

Science       65
Commerce      76
Humanities    63
dtype: int64

Example 18 : Object1 Population stores the details of population in four metro cities of india and object2 AvgIncome stores the total average income reported in previous year in each of these metros. Calculate income per capita for each of these metro cities.

In [8]:
import pandas as pd 
population = pd.Series([10927986,12691836,4131392,4328063],
index = ['Delhi','Mumbai','kolkata','Chennai']) 
AvgIncome = pd.Series([112323424,345626625,43624636,5566574636],
index = ['Delhi','Mumbai','kolkata','Chennai']) 
perCapita = AvgIncome/population
print("Population in four metro cities") 
print(population) 
print("Avg. Income in four metro cities")
print(AvgIncome) 
print("per Capita Income in four metro cities") 
print(perCapita)

Population in four metro cities
Delhi      10927986
Mumbai     12691836
kolkata     4131392
Chennai     4328063
dtype: int64
Avg. Income in four metro cities
Delhi       112323424
Mumbai      345626625
kolkata      43624636
Chennai    5566574636
dtype: int64
per Capita Income in four metro cities
Delhi        10.278511
Mumbai       27.232201
kolkata      10.559307
Chennai    1286.158412
dtype: float64

Example 19 : What will be the output of the following program.

In [9]:
import pandas as pd 
info = pd.Series(data = [31,41,51]) 
print(info) 
print(info>40) 
print(info[info>40])

0    31
1    41
2    51
dtype: int64
0    False
1     True
2     True
dtype: bool
1    41
2    51
dtype: int64

Example 20: Series object s11 stores the charity contribution made by each section. Write a program to display which sections made a contribution more than 5500.

In [10]:
import pandas as pd
s = [7600,5600,5000,5200]
a = ['A','B','C','D']
s13 = pd.Series(data = s, index = a)
print(s13)
print("Contribution > 5500 by") 
print(s13[s13>5500])

A    7600
B    5600
C    5000
D    5200
dtype: int64
Contribution > 5500 by
A    7600
B    5600
dtype: int64

Sorting Series Values

In [11]:
import pandas as pd
s = [7600,5600,5000,5200]
a = ['A','B','C','D']
s13 = pd.Series(data = s, index = a)
print(s13)
print(s13.sort_values()) 
print(s13.sort_values(ascending = False))

A    7600
B    5600
C    5000
D    5200
dtype: int64
C    5000
D    5200
B    5600
A    7600
dtype: int64
A    7600
B    5600
D    5200
C    5000
dtype: int64

In [12]:
#Sorting on the basis of indexes 
import pandas as pd
s = [7600,5600,5000,5200]
a = ['A','B','C','D']
s13 = pd.Series(data = s, index = a)
print(s13)
print(s13.sort_index(ascending = False)) 
print(s13.sort_values())

A    7600
B    5600
C    5000
D    5200
dtype: int64
D    5200
C    5000
B    5600
A    7600
dtype: int64
C    5000
D    5200
B    5600
A    7600
dtype: int64

### Series Objects vs. 1D Data Structures and 1D Numpy Arrays

In [ ]:
# How is a series object is similar or different from other 1D data structure such as lists,
# dictionaries or 1D NumPy Arrays

#### Series Object vs. Lists

In [50]:
import pandas as pd 
s = [1.50,12.75,24.00,35.25,46.50] 
u = ['a','b','c','d','e'] 
obj1 = pd.Series(data = s , index = u) 
print(obj1) 
obj1 = obj2.reindex(['e','d','c','b','a']) 
print(obj1)

a     1.50
b    12.75
c    24.00
d    35.25
e    46.50
dtype: float64
e    46.50
d    35.25
c    24.00
b    12.75
a     1.50
dtype: float64

In [53]:
vowels = pd.Series([2,5,6,3,8], index = ['a','e','i','o','u'])  
print(vovels) 
newid = ['A','B','C','D','E'] 
vowels.index = newid
print(vowels)

a    2
e    5
i    6
o    3
u    8
dtype: int64
A    2
B    5
C    6
D    3
E    8
dtype: int64

#### Dropping Entries from Axis

In [57]:
print(obj1)
obj1 = obj1.drop('e')
print(obj1)

e    46.50
d    35.25
b    12.75
a     1.50
dtype: float64
d    35.25
b    12.75
a     1.50
dtype: float64

In [13]:
import matplotlib.pyplot as pl
import numpy as np
a1 = np.sin(0,1) 
a2 = np.cos(0,1) 
a3 = np.tan(0,1) 
pl.plot(a1,a2,a3)
pl.show()

ModuleNotFoundError: No module named 'matplotlib'