# TERMINAL

In [ ]:
# sudo apt update
# sudo apt install mysql-client

mysql -u jovyan -p -h 180.233.121.154 -P 18033 -D hanisntsolo;

mysql -u jovyan -ppassword -h 180.233.121.154 -P 18033 -D sweta

# DATABASE CONNECTIVITY

In [7]:
conda install mysql-connector-python

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.9.0
  latest version: 24.11.3

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.11.3



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

# Start

In [1]:
import mysql.connector
import pandas as pd 
import os

ModuleNotFoundError: No module named 'mysql'

In [2]:
import mysql.connector
import os

# Retrieve MySQL connection credentials from environment variables
mysql_user = 'jovyan'
mysql_password = 'password'
mysql_database = 'hanisntsolo'
# MySQL database connection configuration
mysql_config = {
    'host': '180.233.121.154',
    'port': 18033,
    'user': mysql_user,
    'password': mysql_password,
    'database': mysql_database
}

try:
    # Connect to MySQL database
    conn = mysql.connector.connect(**mysql_config)
    print("Connected to MySQL database")

    # Perform database operations here

except mysql.connector.Error as err:
    print("Error connecting to MySQL:", err)

finally:
    # Close the database connection
    if 'conn' in locals() and conn.is_connected():
        conn.close()
        print("MySQL connection closed")

ModuleNotFoundError: No module named 'mysql'

## Install JupySQL & MySQL Client

### JUPYSQL

In [4]:
conda install jupysql

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.9.0
  latest version: 24.9.1

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.9.1



## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - jupysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    backoff-2.2.1              |     pyhd8ed1ab_0          17 KB  conda-forge
    click-8.1.7                |unix_pyh707e725_0          82 KB  conda-forge
    jupysql-0.10.14            |     pyhd8ed1ab_0          78 KB  conda-forge
    jupysql-plugin-0.4.5       |     pyhd8ed1ab_0         167 KB  conda-forge
    monotonic-1.5              |     pyhd8ed1ab_1          13 KB  conda-forge
    ploomber-core-0.2.25       |     pyhd8ed1ab_0          29 KB  conda-forge
    ploomber-extension-0.1.1   |     pyhd8ed1ab_0         157 KB  conda-forge
    posthog-3.6.5              |     pyhd8ed1ab_0          48 KB  conda-forge
    prettytable-3.11.0         |     pyhd8ed1ab_0          30 KB  conda-forge
    sqlglot-25.24.5            |     pyhd8ed1ab_0         290 KB  conda-forge
    sqlparse-0.5.1             |     pyhd8ed1ab_0          39 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         951 KB

The following NEW packages will be INSTALLED:

  backoff            conda-forge/noarch::backoff-2.2.1-pyhd8ed1ab_0
  click              conda-forge/noarch::click-8.1.7-unix_pyh707e725_0
  jupysql            conda-forge/noarch::jupysql-0.10.14-pyhd8ed1ab_0
  jupysql-plugin     conda-forge/noarch::jupysql-plugin-0.4.5-pyhd8ed1ab_0
  monotonic          conda-forge/noarch::monotonic-1.5-pyhd8ed1ab_1
  ploomber-core      conda-forge/noarch::ploomber-core-0.2.25-pyhd8ed1ab_0
  ploomber-extension conda-forge/noarch::ploomber-extension-0.1.1-pyhd8ed1ab_0
  posthog            conda-forge/noarch::posthog-3.6.5-pyhd8ed1ab_0
  prettytable        conda-forge/noarch::prettytable-3.11.0-pyhd8ed1ab_0
  sqlglot            conda-forge/noarch::sqlglot-25.24.5-pyhd8ed1ab_0
  sqlparse           conda-forge/noarch::sqlparse-0.5.1-pyhd8ed1ab_0



Downloading and Extracting Packages:
ploomber-extension-0 | 157 KB    |                                       |   0%
prettytable-3.11.0   | 30 KB     |                                       |   0%

backoff-2.2.1        | 17 KB     |                                       |   0%


click-8.1.7          | 82 KB     |                                       |   0%



sqlglot-25.24.5      | 290 KB    |                                       |   0%




sqlparse-0.5.1       | 39 KB     |                                       |   0%





posthog-3.6.5        | 48 KB     |                                       |   0%






jupysql-plugin-0.4.5 | 167 KB    |                                       |   0%







monotonic-1.5        | 13 KB     |                                       |   0%








jupysql-0.10.14      | 78 KB     |                                       |   0%









ploomber-core-0.2.25 | 29 KB     |                                       |   0%


ploomber-extension-0 | 157 KB    | ###7                                  |  10%


click-8.1.7          | 82 KB     | ##################################### | 100%

backoff-2.2.1        | 17 KB     | ##################################6   |  94%



sqlglot-25.24.5      | 290 KB    | ##                                    |   6%
prettytable-3.11.0   | 30 KB     | ###################8                  |  54%
prettytable-3.11.0   | 30 KB     | ##################################### | 100%

ploomber-extension-0 | 157 KB    | ##################################### | 100%







monotonic-1.5        | 13 KB     | ##################################### | 100%




sqlparse-0.5.1       | 39 KB     | ###############                       |  41%







monotonic-1.5        | 13 KB     | ##################################### | 100%





posthog-3.6.5        | 48 KB     | ############2                         |  33%






jupysql-plugin-0.4.5 | 167 KB    | ###5                                  |  10%




sqlparse-0.5.1       | 39 KB     | ##################################### | 100%




sqlparse-0.5.1       | 39 KB     | ##################################### | 100%









ploomber-core-0.2.25 | 29 KB     | ####################5                 |  55%





posthog-3.6.5        | 48 KB     | ##################################### | 100%





posthog-3.6.5        | 48 KB     | ##################################### | 100%








jupysql-0.10.14      | 78 KB     | #######6                              |  21%



sqlglot-25.24.5      | 290 KB    | ##################################### | 100%



sqlglot-25.24.5      | 290 KB    | ##################################### | 100%






jupysql-plugin-0.4.5 | 167 KB    | ##################################### | 100%






jupysql-plugin-0.4.5 | 167 KB    | ##################################### | 100%









ploomber-core-0.2.25 | 29 KB     | ##################################### | 100%









ploomber-core-0.2.25 | 29 KB     | ##################################### | 100%








jupysql-0.10.14      | 78 KB     | ##################################### | 100%
































































Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [18]:
conda upgrade jupysql

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.9.0
  latest version: 24.7.1

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.7.1



## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - jupysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    alembic-1.13.2             |     pyhd8ed1ab_0         155 KB  conda-forge
    anyio-4.4.0                |     pyhd8ed1ab_0         102 KB  conda-forge
    bzip2-1.0.8                |       h4bc722e_7         247 KB  conda-forge
    c-ares-1.32.3              |       h4bc722e_0         176 KB  conda-forge
    conda-package-handling-2.3.0|     pyh7900ff3_0         250 KB  conda-forge
    conda-package-streaming-0.10.0|     pyhd8ed1ab_0          19 KB  conda-forge
    configurable-http-proxy-4.6.2|       h92b4e83_1         1.2 MB  conda-forge
    cryptography-42.0.8        |  py311h4a61cc7_0         1.9 MB  conda-forge
    debugpy-1.8.2              |  py311h4332511_0         2.2 MB  conda-forge
    exceptiongroup-1.2.2       |     pyhd8ed1ab_0          20 KB  conda-forge
    h2-4.1.0                   |     pyhd8ed1ab_0          46 KB  conda-forge
    hpack-4.0.0                |     pyh9f0ad1d_0          25 KB  conda-forge
    hyperframe-6.0.1           |     pyhd8ed1ab_0          14 KB  conda-forge
    importlib-metadata-8.2.0   |     pyha770c72_0          27 KB  conda-forge
    importlib_metadata-8.2.0   |       hd8ed1ab_0           9 KB  conda-forge
    ipykernel-6.29.5           |     pyh3099207_0         116 KB  conda-forge
    ipython-8.26.0             |     pyh707e725_0         585 KB  conda-forge
    jsonpointer-3.0.0          |  py311h38be061_0          17 KB  conda-forge
    jsonschema-4.23.0          |     pyhd8ed1ab_0          73 KB  conda-forge
    jsonschema-with-format-nongpl-4.23.0|       hd8ed1ab_0           7 KB  conda-forge
    jupysql-plugin-0.4.4       |     pyhd8ed1ab_0         214 KB  conda-forge
    jupyter_server-2.14.2      |     pyhd8ed1ab_0         316 KB  conda-forge
    jupyterlab_server-2.27.3   |     pyhd8ed1ab_0          48 KB  conda-forge
    krb5-1.21.3                |       h659f571_0         1.3 MB  conda-forge
    ld_impl_linux-64-2.40      |       hf3520f5_7         691 KB  conda-forge
    libarchive-3.7.4           |       hfca40fe_0         851 KB  conda-forge
    libblas-3.9.0              |23_linux64_openblas          15 KB  conda-forge
    libcblas-3.9.0             |23_linux64_openblas          14 KB  conda-forge
    libgcc-ng-14.1.0           |       h77fa898_0         822 KB  conda-forge
    libgfortran-ng-14.1.0      |       h69a702a_0          49 KB  conda-forge
    libgfortran5-14.1.0        |       hc5f4f2c_0         1.4 MB  conda-forge
    libgomp-14.1.0             |       h77fa898_0         446 KB  conda-forge
    liblapack-3.9.0            |23_linux64_openblas          14 KB  conda-forge
    libopenblas-0.3.27         |pthreads_hac2b453_1         5.3 MB  conda-forge
    libsqlite-3.46.0           |       hde9e2c9_0         845 KB  conda-forge
    libstdcxx-ng-14.1.0        |       hc0a3c3a_0         3.7 MB  conda-forge
    libxml2-2.12.7             |       hc051c1a_1         688 KB  conda-forge
    nbconvert-7.16.4           |       hd8ed1ab_1           8 KB  conda-forge
    nbconvert-core-7.16.4      |     pyhd8ed1ab_1         185 KB  conda-forge
    nbconvert-pandoc-7.16.4    |       hd8ed1ab_1           8 KB  conda-forge
    numpy-2.0.1                |  py311hed25524_0         8.5 MB  conda-forge
    packaging-24.1             |     pyhd8ed1ab_0          49 KB  conda-forge
    pandoc-3.3                 |       ha770c72_0        19.9 MB  conda-forge
    prettytable-3.10.2         |     pyhd8ed1ab_0          29 KB  conda-forge
    prompt-toolkit-3.0.47      |     pyha770c72_0         264 KB  conda-forge
    psutil-6.0.0               |  py311h331c9d8_0         497 KB  conda-forge
    pure_eval-0.2.3            |     pyhd8ed1ab_0          16 KB  conda-forge
    pyopenssl-24.2.1           |     pyhd8ed1ab_0         125 KB  conda-forge
    python-fastjsonschema-2.20.0|     pyhd8ed1ab_0         221 KB  conda-forge
    rpds-py-0.19.1             |  py311hb3a8bbb_0         323 KB  conda-forge
    setuptools-71.0.4          |     pyhd8ed1ab_0         1.4 MB  conda-forge
    sqlalchemy-2.0.31          |  py311h331c9d8_0         3.3 MB  conda-forge
    sqlglot-25.8.1             |     pyhd8ed1ab_0         274 KB  conda-forge
    sqlparse-0.5.1             |     pyhd8ed1ab_0          39 KB  conda-forge
    tornado-6.4.1              |  py311h331c9d8_0         836 KB  conda-forge
    typing-extensions-4.12.2   |       hd8ed1ab_0          10 KB  conda-forge
    typing_extensions-4.12.2   |     pyha770c72_0          39 KB  conda-forge
    urllib3-2.2.2              |     pyhd8ed1ab_1          93 KB  conda-forge
    webcolors-24.6.0           |     pyhd8ed1ab_0          18 KB  conda-forge
    zipp-3.19.2                |     pyhd8ed1ab_0          20 KB  conda-forge
    zstandard-0.23.0           |  py311h5cd10c7_0         407 KB  conda-forge
    zstd-1.5.6                 |       ha6fb4c9_0         542 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        60.8 MB

The following NEW packages will be INSTALLED:

  h2                 conda-forge/noarch::h2-4.1.0-pyhd8ed1ab_0
  hpack              conda-forge/noarch::hpack-4.0.0-pyh9f0ad1d_0
  hyperframe         conda-forge/noarch::hyperframe-6.0.1-pyhd8ed1ab_0

The following packages will be UPDATED:

  alembic                               1.13.1-pyhd8ed1ab_1 --> 1.13.2-pyhd8ed1ab_0
  anyio                                  4.3.0-pyhd8ed1ab_0 --> 4.4.0-pyhd8ed1ab_0
  bzip2                                    1.0.8-hd590300_5 --> 1.0.8-h4bc722e_7
  c-ares                                  1.28.1-hd590300_0 --> 1.32.3-h4bc722e_0
  conda-package-han~                     2.2.0-pyh38be061_0 --> 2.3.0-pyh7900ff3_0
  conda-package-str~                     0.9.0-pyhd8ed1ab_0 --> 0.10.0-pyhd8ed1ab_0
  configurable-http~                       4.6.1-h92b4e83_0 --> 4.6.2-h92b4e83_1
  cryptography                       42.0.7-py311h4a61cc7_0 --> 42.0.8-py311h4a61cc7_0
  debugpy                             1.8.1-py311hb755f60_0 --> 1.8.2-py311h4332511_0
  exceptiongroup                         1.2.0-pyhd8ed1ab_2 --> 1.2.2-pyhd8ed1ab_0
  importlib-metadata                     7.1.0-pyha770c72_0 --> 8.2.0-pyha770c72_0
  importlib_metadata                       7.1.0-hd8ed1ab_0 --> 8.2.0-hd8ed1ab_0
  ipykernel                             6.29.3-pyhd33586a_0 --> 6.29.5-pyh3099207_0
  ipython                               8.25.0-pyh707e725_0 --> 8.26.0-pyh707e725_0
  jsonpointer                           2.4-py311h38be061_3 --> 3.0.0-py311h38be061_0
  jsonschema                            4.22.0-pyhd8ed1ab_0 --> 4.23.0-pyhd8ed1ab_0
  jsonschema-with-f~                    4.22.0-pyhd8ed1ab_0 --> 4.23.0-hd8ed1ab_0
  jupysql-plugin                         0.4.3-pyhd8ed1ab_0 --> 0.4.4-pyhd8ed1ab_0
  jupyter_server                        2.14.1-pyhd8ed1ab_0 --> 2.14.2-pyhd8ed1ab_0
  jupyterlab_server                     2.27.2-pyhd8ed1ab_0 --> 2.27.3-pyhd8ed1ab_0
  krb5                                    1.21.2-h659d440_0 --> 1.21.3-h659f571_0
  ld_impl_linux-64                          2.40-hf3520f5_1 --> 2.40-hf3520f5_7
  libarchive                               3.7.2-h039dbb9_0 --> 3.7.4-hfca40fe_0
  libblas                         3.9.0-22_linux64_openblas --> 3.9.0-23_linux64_openblas
  libcblas                        3.9.0-22_linux64_openblas --> 3.9.0-23_linux64_openblas
  libgcc-ng                               13.2.0-h77fa898_7 --> 14.1.0-h77fa898_0
  libgfortran-ng                          13.2.0-h69a702a_7 --> 14.1.0-h69a702a_0
  libgfortran5                            13.2.0-hca663fb_7 --> 14.1.0-hc5f4f2c_0
  libgomp                                 13.2.0-h77fa898_7 --> 14.1.0-h77fa898_0
  liblapack                       3.9.0-22_linux64_openblas --> 3.9.0-23_linux64_openblas
  libopenblas                    0.3.27-pthreads_h413a1c8_0 --> 0.3.27-pthreads_hac2b453_1
  libsqlite                               3.45.3-h2797004_0 --> 3.46.0-hde9e2c9_0
  libstdcxx-ng                            13.2.0-hc0a3c3a_7 --> 14.1.0-hc0a3c3a_0
  libxml2                                 2.11.6-h232c23b_0 --> 2.12.7-hc051c1a_1
  nbconvert                               7.16.4-hd8ed1ab_0 --> 7.16.4-hd8ed1ab_1
  nbconvert-core                        7.16.4-pyhd8ed1ab_0 --> 7.16.4-pyhd8ed1ab_1
  nbconvert-pandoc                        7.16.4-hd8ed1ab_0 --> 7.16.4-hd8ed1ab_1
  numpy                              1.26.4-py311h64a7726_0 --> 2.0.1-py311hed25524_0
  packaging                               24.0-pyhd8ed1ab_0 --> 24.1-pyhd8ed1ab_0
  pandoc                                     3.2-ha770c72_0 --> 3.3-ha770c72_0
  prettytable                           3.10.0-pyhd8ed1ab_0 --> 3.10.2-pyhd8ed1ab_0
  prompt-toolkit                        3.0.42-pyha770c72_0 --> 3.0.47-pyha770c72_0
  psutil                              5.9.8-py311h459d7ec_0 --> 6.0.0-py311h331c9d8_0
  pure_eval                              0.2.2-pyhd8ed1ab_0 --> 0.2.3-pyhd8ed1ab_0
  pyopenssl                             24.0.0-pyhd8ed1ab_0 --> 24.2.1-pyhd8ed1ab_0
  python-fastjsonsc~                    2.19.1-pyhd8ed1ab_0 --> 2.20.0-pyhd8ed1ab_0
  rpds-py                            0.18.1-py311h5ecf98a_0 --> 0.19.1-py311hb3a8bbb_0
  setuptools                            70.0.0-pyhd8ed1ab_0 --> 71.0.4-pyhd8ed1ab_0
  sqlalchemy                         2.0.30-py311h331c9d8_0 --> 2.0.31-py311h331c9d8_0
  sqlglot                               24.1.0-pyhd8ed1ab_0 --> 25.8.1-pyhd8ed1ab_0
  sqlparse                               0.5.0-pyhd8ed1ab_0 --> 0.5.1-pyhd8ed1ab_0
  tornado                               6.4-py311h459d7ec_0 --> 6.4.1-py311h331c9d8_0
  typing-extensions                       4.12.1-hd8ed1ab_0 --> 4.12.2-hd8ed1ab_0
  typing_extensions                     4.12.1-pyha770c72_0 --> 4.12.2-pyha770c72_0
  urllib3                                2.2.1-pyhd8ed1ab_0 --> 2.2.2-pyhd8ed1ab_1
  webcolors                               1.13-pyhd8ed1ab_0 --> 24.6.0-pyhd8ed1ab_0
  zipp                                  3.17.0-pyhd8ed1ab_0 --> 3.19.2-pyhd8ed1ab_0
  zstandard                          0.22.0-py311haa97af0_0 --> 0.23.0-py311h5cd10c7_0
  zstd                                     1.5.5-hfc55251_0 --> 1.5.6-ha6fb4c9_0



Downloading and Extracting Packages:
ipython-8.26.0       | 585 KB    |                                       |   0%
importlib_metadata-8 | 9 KB      |                                       |   0%

ld_impl_linux-64-2.4 | 691 KB    |                                       |   0%


pandoc-3.3           | 19.9 MB   |                                       |   0%



libgfortran5-14.1.0  | 1.4 MB    |                                       |   0%




sqlalchemy-2.0.31    | 3.3 MB    |                                       |   0%





alembic-1.13.2       | 155 KB    |                                       |   0%






libsqlite-3.46.0     | 845 KB    |                                       |   0%







libstdcxx-ng-14.1.0  | 3.7 MB    |                                       |   0%








typing_extensions-4. | 39 KB     |                                       |   0%









libgomp-14.1.0       | 446 KB    |                                       |   0%










pyopenssl-24.2.1     | 125 KB    |                                       |   0%











anyio-4.4.0          | 102 KB    |                                       |   0%












liblapack-3.9.0      | 14 KB     |                                       |   0%













nbconvert-7.16.4     | 8 KB      |                                       |   0%














libgfortran-ng-14.1. | 49 KB     |                                       |   0%















libcblas-3.9.0       | 14 KB     |                                       |   0%
















pure_eval-0.2.3      | 16 KB     |                                       |   0%

















cryptography-42.0.8  | 1.9 MB    |                                       |   0%


















conda-package-handli | 250 KB    |                                       |   0%



















c-ares-1.32.3        | 176 KB    |                                       |   0%




















jsonschema-4.23.0    | 73 KB     |                                       |   0%





















packaging-24.1       | 49 KB     |                                       |   0%






















 ... (more hidden) ...



libgfortran5-14.1.0  | 1.4 MB    | 4                                     |   1%


pandoc-3.3           | 19.9 MB   |                                       |   0%

ipython-8.26.0       | 585 KB    | #                                     |   3%
importlib_metadata-8 | 9 KB      | ##################################### | 100%
importlib_metadata-8 | 9 KB      | ##################################### | 100%

ld_impl_linux-64-2.4 | 691 KB    | ######8                               |  19%



libgfortran5-14.1.0  | 1.4 MB    | ######6                               |  18%


ipython-8.26.0       | 585 KB    | ##########1                           |  27%


pandoc-3.3           | 19.9 MB   | 8                                     |   2%



libgfortran5-14.1.0  | 1.4 MB    | ##########3                           |  28%




sqlalchemy-2.0.31    | 3.3 MB    | 1                                     |   0%

ld_impl_linux-64-2.4 | 691 KB    | #################1                    |  46%


pandoc-3.3           | 19.9 MB   | #2                                    |   3%



ipython-8.26.0       | 585 KB    | ################1                     |  44%

ld_impl_linux-64-2.4 | 691 KB    | ################################5     |  88%




sqlalchemy-2.0.31    | 3.3 MB    | 3                                     |   1%


pandoc-3.3           | 19.9 MB   | #9                                    |   5%





ipython-8.26.0       | 585 KB    | ################################3     |  87%



libgfortran5-14.1.0  | 1.4 MB    | ########################9             |  67%


pandoc-3.3           | 19.9 MB   | ##4                                   |   7%

ld_impl_linux-64-2.4 | 691 KB    | ##################################### | 100%




sqlalchemy-2.0.31    | 3.3 MB    | 8                                     |   2%





alembic-1.13.2       | 155 KB    | ##################################### | 100%



libgfortran5-14.1.0  | 1.4 MB    | #############################5        |  80%






libsqlite-3.46.0     | 845 KB    | 7                                     |   2%


pandoc-3.3           | 19.9 MB   | ##9                                   |   8%




sqlalchemy-2.0.31    | 3.3 MB    | #7                                    |   5%







libstdcxx-ng-14.1.0  | 3.7 MB    | 1                                     |   0%



libgfortran5-14.1.0  | 1.4 MB    | ####################################5 |  99%






libsqlite-3.46.0     | 845 KB    | ##1                                   |   6%







libstdcxx-ng-14.1.0  | 3.7 MB    | #5                                    |   4%


pandoc-3.3           | 19.9 MB   | ###4                                  |   9%








typing_extensions-4. | 39 KB     | ###############1                      |  41%




sqlalchemy-2.0.31    | 3.3 MB    | ##2                                   |   6%






libsqlite-3.46.0     | 845 KB    | ######3                               |  17%







libstdcxx-ng-14.1.0  | 3.7 MB    | ###2                                  |   9%






libsqlite-3.46.0     | 845 KB    | #########8                            |  27%




sqlalchemy-2.0.31    | 3.3 MB    | ##7                                   |   7%


pandoc-3.3           | 19.9 MB   | ###8                                  |  10%







libstdcxx-ng-14.1.0  | 3.7 MB    | ####9                                 |  14%









libgomp-14.1.0       | 446 KB    | #3                                    |   4%




sqlalchemy-2.0.31    | 3.3 MB    | ###2                                  |   9%






libsqlite-3.46.0     | 845 KB    | #############3                        |  36%


pandoc-3.3           | 19.9 MB   | ####3                                 |  12%







libstdcxx-ng-14.1.0  | 3.7 MB    | #######6                              |  21%









libgomp-14.1.0       | 446 KB    | ##########6                           |  29%


pandoc-3.3           | 19.9 MB   | ####9                                 |  13%




sqlalchemy-2.0.31    | 3.3 MB    | ###8                                  |  10%






libsqlite-3.46.0     | 845 KB    | ################8                     |  45%









libgomp-14.1.0       | 446 KB    | ##################5                   |  50%







libstdcxx-ng-14.1.0  | 3.7 MB    | ##########1                           |  27%






libsqlite-3.46.0     | 845 KB    | ###################6                  |  53%




sqlalchemy-2.0.31    | 3.3 MB    | ####3                                 |  12%







libstdcxx-ng-14.1.0  | 3.7 MB    | ############                          |  33%


pandoc-3.3           | 19.9 MB   | #####3                                |  15%






libsqlite-3.46.0     | 845 KB    | #########################9            |  70%




sqlalchemy-2.0.31    | 3.3 MB    | #####7                                |  15%


pandoc-3.3           | 19.9 MB   | #####8                                |  16%










pyopenssl-24.2.1     | 125 KB    | ####7                                 |  13%







libstdcxx-ng-14.1.0  | 3.7 MB    | ###############1                      |  41%






libsqlite-3.46.0     | 845 KB    | ##############################8       |  83%




sqlalchemy-2.0.31    | 3.3 MB    | ######4                               |  17%


pandoc-3.3           | 19.9 MB   | ######2                               |  17%






libsqlite-3.46.0     | 845 KB    | ###################################   |  95%







libstdcxx-ng-14.1.0  | 3.7 MB    | ################8                     |  46%











anyio-4.4.0          | 102 KB    | #####8                                |  16%




sqlalchemy-2.0.31    | 3.3 MB    | #######1                              |  19%


pandoc-3.3           | 19.9 MB   | ######5                               |  18%







libstdcxx-ng-14.1.0  | 3.7 MB    | ##################7                   |  51%












liblapack-3.9.0      | 14 KB     | ##################################### | 100%













nbconvert-7.16.4     | 8 KB      | ##################################### | 100%




sqlalchemy-2.0.31    | 3.3 MB    | ########1                             |  22%


pandoc-3.3           | 19.9 MB   | ######9                               |  19%















libcblas-3.9.0       | 14 KB     | ##################################### | 100%














libgfortran-ng-14.1. | 49 KB     | ############1                         |  33%




sqlalchemy-2.0.31    | 3.3 MB    | #########                             |  24%







libstdcxx-ng-14.1.0  | 3.7 MB    | ####################6                 |  56%
















pure_eval-0.2.3      | 16 KB     | ####################################6 |  99%




sqlalchemy-2.0.31    | 3.3 MB    | ##########                            |  27%







libstdcxx-ng-14.1.0  | 3.7 MB    | ######################1               |  60%


pandoc-3.3           | 19.9 MB   | #######2                              |  20%

















cryptography-42.0.8  | 1.9 MB    | 3                                     |   1%





### mySQL Client

In [5]:
conda install mysqlclient

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.9.0
  latest version: 24.9.1

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.9.1



## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - mysqlclient


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    mysqlclient-2.2.4          |  py311hb755f60_1          98 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          98 KB

The following NEW packages will be INSTALLED:

  mysqlclient        conda-forge/linux-64::mysqlclient-2.2.4-py311hb755f60_1



Downloading and Extracting Packages:

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [20]:
conda update -n base -c conda-forge conda

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.9.0
  latest version: 24.7.1

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.7.1



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

## Connect to DB

In [4]:
%load_ext sql

displaylimit: Value None will be treated as 0 (no limit)

In [5]:
%sql mysql://jovyan:password@180.233.121.154:18033/hanisntsolo

Connecting to 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

In [9]:
%sql show databases;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

5 rows affected.

+--------------------+
|      Database      |
+--------------------+
|    hanisntsolo     |
| information_schema |
|       mysql        |
| performance_schema |
|        sys         |
+--------------------+

In [10]:
%sql show databases;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

5 rows affected.

+--------------------+
|      Database      |
+--------------------+
|    hanisntsolo     |
| information_schema |
|       mysql        |
| performance_schema |
|        sys         |
+--------------------+

In [11]:
%sql use information_schema;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

++
||
++
++

In [12]:
%sql show tables;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

79 rows affected.

+---------------------------------------+
|      Tables_in_information_schema     |
+---------------------------------------+
|   ADMINISTRABLE_ROLE_AUTHORIZATIONS   |
|            APPLICABLE_ROLES           |
|             CHARACTER_SETS            |
|           CHECK_CONSTRAINTS           |
|               COLLATIONS              |
| COLLATION_CHARACTER_SET_APPLICABILITY |
|                COLUMNS                |
|           COLUMNS_EXTENSIONS          |
|           COLUMN_PRIVILEGES           |
|           COLUMN_STATISTICS           |
+---------------------------------------+
Truncated to displaylimit of 10.

In [3]:
%config SqlMagic.displaylimit = None

In [9]:
%sql show tables;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

79 rows affected.

+---------------------------------------+
|      Tables_in_information_schema     |
+---------------------------------------+
|   ADMINISTRABLE_ROLE_AUTHORIZATIONS   |
|            APPLICABLE_ROLES           |
|             CHARACTER_SETS            |
|           CHECK_CONSTRAINTS           |
|               COLLATIONS              |
| COLLATION_CHARACTER_SET_APPLICABILITY |
|                COLUMNS                |
|           COLUMNS_EXTENSIONS          |
|           COLUMN_PRIVILEGES           |
|           COLUMN_STATISTICS           |
|             ENABLED_ROLES             |
|                ENGINES                |
|                 EVENTS                |
|                 FILES                 |
|           INNODB_BUFFER_PAGE          |
|         INNODB_BUFFER_PAGE_LRU        |
|        INNODB_BUFFER_POOL_STATS       |
|         INNODB_CACHED_INDEXES         |
|               INNODB_CMP              |
|             INNODB_CMPMEM             |
|          INNODB_CMPMEM_RESET          |
|          INNODB_CMP_PER_INDEX         |
|       INNODB_CMP_PER_INDEX_RESET      |
|            INNODB_CMP_RESET           |
|             INNODB_COLUMNS            |
|            INNODB_DATAFILES           |
|             INNODB_FIELDS             |
|             INNODB_FOREIGN            |
|          INNODB_FOREIGN_COLS          |
|        INNODB_FT_BEING_DELETED        |
|            INNODB_FT_CONFIG           |
|       INNODB_FT_DEFAULT_STOPWORD      |
|           INNODB_FT_DELETED           |
|         INNODB_FT_INDEX_CACHE         |
|         INNODB_FT_INDEX_TABLE         |
|             INNODB_INDEXES            |
|             INNODB_METRICS            |
|    INNODB_SESSION_TEMP_TABLESPACES    |
|             INNODB_TABLES             |
|           INNODB_TABLESPACES          |
|        INNODB_TABLESPACES_BRIEF       |
|           INNODB_TABLESTATS           |
|         INNODB_TEMP_TABLE_INFO        |
|               INNODB_TRX              |
|             INNODB_VIRTUAL            |
|                KEYWORDS               |
|            KEY_COLUMN_USAGE           |
|            OPTIMIZER_TRACE            |
|               PARAMETERS              |
|               PARTITIONS              |
|                PLUGINS                |
|              PROCESSLIST              |
|               PROFILING               |
|        REFERENTIAL_CONSTRAINTS        |
|            RESOURCE_GROUPS            |
|           ROLE_COLUMN_GRANTS          |
|          ROLE_ROUTINE_GRANTS          |
|           ROLE_TABLE_GRANTS           |
|                ROUTINES               |
|                SCHEMATA               |
|          SCHEMATA_EXTENSIONS          |
|           SCHEMA_PRIVILEGES           |
|               STATISTICS              |
|          ST_GEOMETRY_COLUMNS          |
|      ST_SPATIAL_REFERENCE_SYSTEMS     |
|          ST_UNITS_OF_MEASURE          |
|                 TABLES                |
|              TABLESPACES              |
|         TABLESPACES_EXTENSIONS        |
|           TABLES_EXTENSIONS           |
|           TABLE_CONSTRAINTS           |
|      TABLE_CONSTRAINTS_EXTENSIONS     |
|            TABLE_PRIVILEGES           |
|                TRIGGERS               |
|            USER_ATTRIBUTES            |
|            USER_PRIVILEGES            |
|                 VIEWS                 |
|           VIEW_ROUTINE_USAGE          |
|            VIEW_TABLE_USAGE           |
+---------------------------------------+

In [8]:
%sql select * from table_privileges;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

2 rows affected.

+-----------------------------+---------------+--------------+------------+----------------+--------------+
|           GRANTEE           | TABLE_CATALOG | TABLE_SCHEMA | TABLE_NAME | PRIVILEGE_TYPE | IS_GRANTABLE |
+-----------------------------+---------------+--------------+------------+----------------+--------------+
|   'mysql.sys'@'localhost'   |      def      |     sys      | sys_config |     SELECT     |      NO      |
| 'mysql.session'@'localhost' |      def      |    mysql     |    user    |     SELECT     |      NO      |
+-----------------------------+---------------+--------------+------------+----------------+--------------+

In [12]:
%sql use hanisntsolo

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

++
||
++
++

In [9]:
%sql show tables;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

79 rows affected.

+---------------------------------------+
|      Tables_in_information_schema     |
+---------------------------------------+
|   ADMINISTRABLE_ROLE_AUTHORIZATIONS   |
|            APPLICABLE_ROLES           |
|             CHARACTER_SETS            |
|           CHECK_CONSTRAINTS           |
|               COLLATIONS              |
| COLLATION_CHARACTER_SET_APPLICABILITY |
|                COLUMNS                |
|           COLUMNS_EXTENSIONS          |
|           COLUMN_PRIVILEGES           |
|           COLUMN_STATISTICS           |
|             ENABLED_ROLES             |
|                ENGINES                |
|                 EVENTS                |
|                 FILES                 |
|           INNODB_BUFFER_PAGE          |
|         INNODB_BUFFER_PAGE_LRU        |
|        INNODB_BUFFER_POOL_STATS       |
|         INNODB_CACHED_INDEXES         |
|               INNODB_CMP              |
|             INNODB_CMPMEM             |
|          INNODB_CMPMEM_RESET          |
|          INNODB_CMP_PER_INDEX         |
|       INNODB_CMP_PER_INDEX_RESET      |
|            INNODB_CMP_RESET           |
|             INNODB_COLUMNS            |
|            INNODB_DATAFILES           |
|             INNODB_FIELDS             |
|             INNODB_FOREIGN            |
|          INNODB_FOREIGN_COLS          |
|        INNODB_FT_BEING_DELETED        |
|            INNODB_FT_CONFIG           |
|       INNODB_FT_DEFAULT_STOPWORD      |
|           INNODB_FT_DELETED           |
|         INNODB_FT_INDEX_CACHE         |
|         INNODB_FT_INDEX_TABLE         |
|             INNODB_INDEXES            |
|             INNODB_METRICS            |
|    INNODB_SESSION_TEMP_TABLESPACES    |
|             INNODB_TABLES             |
|           INNODB_TABLESPACES          |
|        INNODB_TABLESPACES_BRIEF       |
|           INNODB_TABLESTATS           |
|         INNODB_TEMP_TABLE_INFO        |
|               INNODB_TRX              |
|             INNODB_VIRTUAL            |
|                KEYWORDS               |
|            KEY_COLUMN_USAGE           |
|            OPTIMIZER_TRACE            |
|               PARAMETERS              |
|               PARTITIONS              |
|                PLUGINS                |
|              PROCESSLIST              |
|               PROFILING               |
|        REFERENTIAL_CONSTRAINTS        |
|            RESOURCE_GROUPS            |
|           ROLE_COLUMN_GRANTS          |
|          ROLE_ROUTINE_GRANTS          |
|           ROLE_TABLE_GRANTS           |
|                ROUTINES               |
|                SCHEMATA               |
|          SCHEMATA_EXTENSIONS          |
|           SCHEMA_PRIVILEGES           |
|               STATISTICS              |
|          ST_GEOMETRY_COLUMNS          |
|      ST_SPATIAL_REFERENCE_SYSTEMS     |
|          ST_UNITS_OF_MEASURE          |
|                 TABLES                |
|              TABLESPACES              |
|         TABLESPACES_EXTENSIONS        |
|           TABLES_EXTENSIONS           |
|           TABLE_CONSTRAINTS           |
|      TABLE_CONSTRAINTS_EXTENSIONS     |
|            TABLE_PRIVILEGES           |
|                TRIGGERS               |
|            USER_ATTRIBUTES            |
|            USER_PRIVILEGES            |
|                 VIEWS                 |
|           VIEW_ROUTINE_USAGE          |
|            VIEW_TABLE_USAGE           |
+---------------------------------------+

In [10]:
%sql show databases;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

12 rows affected.

+--------------------+
|      Database      |
+--------------------+
|       SINGH        |
|         db         |
|    hanisntsolo     |
| information_schema |
|       mysql        |
| performance_schema |
|       sakila       |
|       sports       |
|  student_project   |
|       sweta        |
|        sys         |
|       world        |
+--------------------+

In [54]:
%sql use sweta;
# %sql show tables;
# %sql select * from employee;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

++
||
++
++

In [13]:
%sql show tables;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

79 rows affected.

+---------------------------------------+
|      Tables_in_information_schema     |
+---------------------------------------+
|   ADMINISTRABLE_ROLE_AUTHORIZATIONS   |
|            APPLICABLE_ROLES           |
|             CHARACTER_SETS            |
|           CHECK_CONSTRAINTS           |
|               COLLATIONS              |
| COLLATION_CHARACTER_SET_APPLICABILITY |
|                COLUMNS                |
|           COLUMNS_EXTENSIONS          |
|           COLUMN_PRIVILEGES           |
|           COLUMN_STATISTICS           |
+---------------------------------------+
Truncated to displaylimit of 10.

In [6]:
%sql show tables;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

+-----------------------+
| Tables_in_hanisntsolo |
+-----------------------+
+-----------------------+

In [7]:
%sql select * from STUDENT;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(MySQLdb.ProgrammingError) (1146, "Table 'hanisntsolo.STUDENT' doesn't exist")
[SQL: select * from STUDENT;]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [57]:
%sql select max(Marks) from STUDENT group by Gender;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

2 rows affected.

+------------+
| max(Marks) |
+------------+
|    440     |
|    492     |
+------------+

In [11]:
%sql select min(Marks) from STUDENT group by City;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

RuntimeError: (MySQLdb.OperationalError) (1109, "Unknown table 'STUDENT' in information_schema")
[SQL: select min(Marks) from STUDENT group by City;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [24]:
%sql select Gender, count(Gender) from STUDENT group by Gender;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

2 rows affected.

+--------+---------------+
| Gender | count(Gender) |
+--------+---------------+
|   M    |       4       |
|   F    |       4       |
+--------+---------------+

In [ ]:
%sql select * from vehicles;

In [40]:
%sql select Type , avg(Price) from vehicles group by Type having qty>20;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

RuntimeError: (MySQLdb.OperationalError) (1054, "Unknown column 'qty' in 'having clause'")
[SQL: select Type , avg(Price) from vehicles group by Type having qty>20;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [60]:
%sql select Company , count(distinct Type) from vehicles group by Company;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

4 rows affected.

+------------+----------------------+
|  Company   | count(distinct Type) |
+------------+----------------------+
|   Datsun   |          1           |
|  Mahindra  |          2           |
|   Maruti   |          2           |
| Mitsubishi |          1           |
+------------+----------------------+

In [38]:
%sql select Type , sum(Price*Qty) from vehicles group by Type ;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

4 rows affected.

+----------+----------------+
|   Type   | sum(Price*Qty) |
+----------+----------------+
|  Wagon   |   6250000.0    |
|   Jeep   |   60000000.0   |
|   SUV    |   90000000.0   |
| Mini van |   44250000.0   |
+----------+----------------+

In [61]:
%sql USE sweta;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

++
||
++
++

In [62]:
%sql use sweta;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

++
||
++
++

In [19]:
%sql show tables;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

37 rows affected.

+-----------------+
| Tables_in_sweta |
+-----------------+
|     ACTIVITY    |
|      CABHUB     |
|      COACH      |
|     CUSTOMER    |
|     EMPLOYEE    |
|      GAMES      |
|     PAYLEVEL    |
|      PLAYER     |
|     POSTING     |
|    SALEGRADE    |
|      STORE      |
|     STUDENT     |
|    SUPPLIERS    |
|     TEACHER     |
|      WORKER     |
|       cand      |
|       club      |
|     employee    |
|      event      |
|      items      |
|       job       |
|      kajal      |
|       mov       |
|      movie      |
|       old       |
|      oldstu     |
|       pet       |
|     register    |
|      singh      |
|      singhs     |
|      sports     |
|     student     |
|     student1    |
|   student_ace   |
|     subject     |
|  sweta_friends  |
|     vehicles    |
+-----------------+

In [63]:
%sql select * from TEACHER;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

8 rows affected.

+------+----------+-----+-------------+------------+--------+--------+
| T_ID |   Name   | Age |  Department | Join_Date  | Salary | Gender |
+------+----------+-----+-------------+------------+--------+--------+
|  1   |  Jugal   |  34 | Computer Sc | 2017-01-10 | 12000  |   M    |
|  2   | Sharmila |  31 |   History   | 2008-03-24 | 20000  |   F    |
|  3   | Sandeep  |  32 | Mathematics | 2016-12-12 | 30000  |   M    |
|  4   | Sangeeta |  35 |   History   | 2015-07-01 | 40000  |   F    |
|  5   |  Rakesh  |  42 | Mathematics | 2007-09-05 | 25000  |   M    |
|  6   |  Shyam   |  50 |   History   | 2008-06-26 | 30000  |   M    |
|  7   | Shiv Om  |  44 | Computer Sc | 2017-02-25 | 21000  |   M    |
|  8   | Shalakha |  33 | Mathematics | 2018-07-31 | 20000  |   F    |
+------+----------+-----+-------------+------------+--------+--------+

In [21]:
%sql select Department, Count(*), from TEACHER Group by Department;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(MySQLdb.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'from TEACHER Group by Department' at line 1")
[SQL: select Department, Count(*), from TEACHER Group by Department;]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [64]:
%sql select * from GAMES;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

5 rows affected.

+-------+--------------+---------+--------+------------+--------------+
| GCode |   GameName   |   Type  | Number | PrizeMoney | ScheduleDate |
+-------+--------------+---------+--------+------------+--------------+
|  101  | Carom Board  |  Indoor |   2    |    5000    |  2004-01-23  |
|  102  |  Badminton   | Outdoor |   2    |   12000    |  2003-12-12  |
|  103  | Teble Tennis |  Indoor |   4    |    8000    |  2004-02-14  |
|  105  |    Chess     |  Indoor |   2    |    9000    |  2004-01-01  |
|  108  | Lawn Tennis  | Outdoor |   4    |   25000    |  2004-03-19  |
+-------+--------------+---------+--------+------------+--------------+

In [23]:
%sql SELECT GameName, GCode from GAMES where PrizeMoney>7000;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

4 rows affected.

+--------------+-------+
|   GameName   | GCode |
+--------------+-------+
|  Badminton   |  102  |
| Teble Tennis |  103  |
|    Chess     |  105  |
| Lawn Tennis  |  108  |
+--------------+-------+

In [25]:
%sql select * from GAMES order by ScheduleDate;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

5 rows affected.

+-------+--------------+---------+--------+------------+--------------+
| GCode |   GameName   |   Type  | Number | PrizeMoney | ScheduleDate |
+-------+--------------+---------+--------+------------+--------------+
|  102  |  Badminton   | Outdoor |   2    |   12000    |  2003-12-12  |
|  105  |    Chess     |  Indoor |   2    |    9000    |  2004-01-01  |
|  101  | Carom Board  |  Indoor |   2    |    5000    |  2004-01-23  |
|  103  | Teble Tennis |  Indoor |   4    |    8000    |  2004-02-14  |
|  108  | Lawn Tennis  | Outdoor |   4    |   25000    |  2004-03-19  |
+-------+--------------+---------+--------+------------+--------------+

In [26]:
%sql select sum(PrizeMoney), Type from GAMES group by Type;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

2 rows affected.

+-----------------+---------+
| sum(PrizeMoney) |   Type  |
+-----------------+---------+
|      22000      |  Indoor |
|      37000      | Outdoor |
+-----------------+---------+

In [27]:
%sql select * from CABHUB;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

5 rows affected.

+-------+-------------+----------+--------+----------+---------+
| Vcode | VehicleName |   Make   | Color  | Capacity | Charges |
+-------+-------------+----------+--------+----------+---------+
|  100  |    Innova   |  Toyota  | White  |    7     |    15   |
|  102  |     SX4     |  Suzuki  |  Blue  |    4     |    14   |
|  104  |   C Class   | Mercedes |  Red   |    4     |    35   |
|  105  |    A-Star   |  Suzuki  | White  |    3     |    14   |
|  108  |    Indigo   |   Tata   | Silver |    3     |    12   |
+-------+-------------+----------+--------+----------+---------+

In [28]:
%sql select * from CUSTOMER;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

4 rows affected.

+-------+-------------+-------+
| CCode |    CName    | Vcode |
+-------+-------------+-------+
|   1   | Hemant Sahu |  101  |
|   2   |  Raj Singh  |  108  |
|   3   |  Dev Singh  |  105  |
|   4   | Rudra Singh |  104  |
+-------+-------------+-------+

In [29]:
%sql select VehicleName from CABHUB where Color = 'White';

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

2 rows affected.

+-------------+
| VehicleName |
+-------------+
|    Innova   |
|    A-Star   |
+-------------+

In [30]:
%sql select VehicleName, Make, Capacity from CABHUB order by Capacity;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

5 rows affected.

+-------------+----------+----------+
| VehicleName |   Make   | Capacity |
+-------------+----------+----------+
|    A-Star   |  Suzuki  |    3     |
|    Indigo   |   Tata   |    3     |
|     SX4     |  Suzuki  |    4     |
|   C Class   | Mercedes |    4     |
|    Innova   |  Toyota  |    7     |
+-------------+----------+----------+

In [31]:
%sql select max(charges) from CABHUB;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

1 rows affected.

+--------------+
| max(charges) |
+--------------+
|      35      |
+--------------+

In [32]:
%sql select CName, VehicleName from CUSTOMER, CABHUB where CUSTOMER.Vcode = CABHUB.Vcode;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

3 rows affected.

+-------------+-------------+
|    CName    | VehicleName |
+-------------+-------------+
| Rudra Singh |   C Class   |
|  Dev Singh  |    A-Star   |
|  Raj Singh  |    Indigo   |
+-------------+-------------+

In [33]:
%sql select * from ACTIVITY;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

5 rows affected.

+-------+---------------+-------------+-----------------+------------+--------------+
| Acode |  ActivityName |   Stadium   | ParticipantsNum | PrizeMoney | ScheduleDate |
+-------+---------------+-------------+-----------------+------------+--------------+
|  1001 | Relay 100 x 4 |  Star Annex |        16       |   10000    |  2023-01-04  |
|  1002 |   High Jump   |  Star Annex |        10       |   12000    |  2012-12-03  |
|  1003 |    Shot Put   | Super Power |        12       |    8000    |  2014-02-04  |
|  1005 |   Long Jump   |  Star Annex |        12       |    9000    |  2001-01-04  |
|  1008 | Discuss Throw | Super Power |        10       |   15000    |  2019-03-04  |
+-------+---------------+-------------+-----------------+------------+--------------+

In [35]:
%sql SELECT * FROM COACH;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

4 rows affected.

+-------+---------------+-------+
| Pcode |      Name     | Acode |
+-------+---------------+-------+
|   1   | Ahmad Hussain |  1001 |
|   2   |    Ravindra   |  1008 |
|   3   |     Janila    |  1001 |
|   4   |      Naaz     |  1003 |
+-------+---------------+-------+

In [69]:
%sql select COUNT(DISTINCT ParticipantsNum) from ACTIVITY;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

1 rows affected.

+---------------------------------+
| COUNT(DISTINCT ParticipantsNum) |
+---------------------------------+
|                3                |
+---------------------------------+

In [1]:
%sql select Max(ScheduleDate), Min(ScheduleDate) from ACTIVITY;

UsageError: Line magic function `%sql` not found.

In [72]:
%sql SELECT Name, ActivityName from ACTIVITY A  ,COACH C Where A.Acode = C.Acode and A.ParticipantsNum = 10;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

1 rows affected.

+----------+---------------+
|   Name   |  ActivityName |
+----------+---------------+
| Ravindra | Discuss Throw |
+----------+---------------+

In [7]:
%sql select * from Product;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

6 rows affected.

+-------+---------------+---------+-------------+----------+
| Pcode |     PName     |  UPrice | Manufacture | Discount |
+-------+---------------+---------+-------------+----------+
|  P01  | WashingPowder |  120.0  |     Surf    |   12.0   |
|  P02  |   ToothPaste  |   54.0  |   Colgate   |   None   |
|  P03  |      Soap     |   25.0  |     Lux     |   None   |
|  P04  |   ToothPaste  |   65.0  |  Pepsodant  |   None   |
|  P05  |      Soap     | 53.3873 |     Dove    |   None   |
|  P06  |    Shampoo    | 344.207 |     Dove    | 30.7328  |
+-------+---------------+---------+-------------+----------+

In [ ]:
%sql select PName, Average(UPrice) from Product group