# DATABASE CONNECTIVITY

In [2]:
conda install mysql-connector-python

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.9.0
  latest version: 25.1.1

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=25.1.1



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

# Start

In [11]:
import mysql.connector
import pandas as pd 
import os

In [1]:
import mysql.connector
import os

# Retrieve MySQL connection credentials from environment variables
mysql_user = 'jovyan'
mysql_password = 'password'
mysql_database = 'hanisntsolo'
# MySQL database connection configuration
mysql_config = {
    'host': '180.233.120.124',
    'port': 18033,
    'user': mysql_user,
    'password': mysql_password,
    'database': mysql_database
}

try:
    # Connect to MySQL database
    conn = mysql.connector.connect(**mysql_config)
    print("Connected to MySQL database")

    # Perform database operations here

except mysql.connector.Error as err:
    print("Error connecting to MySQL:", err)

finally:
    # Close the database connection
    if 'conn' in locals() and conn.is_connected():
        conn.close()
        print("MySQL connection closed")

Error connecting to MySQL: 1045 (28000): Access denied for user 'jovyan'@'180.233.120.124' (using password: YES)

## Install JupySQL & MySQL Client

### JUPYSQL

In [2]:
conda install jupysql

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.9.0
  latest version: 25.1.1

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=25.1.1



## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - jupysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    backoff-2.2.1              |     pyhd8ed1ab_1          18 KB  conda-forge
    click-8.1.8                |     pyh707e725_0          83 KB  conda-forge
    jupysql-0.11.0             |     pyhd8ed1ab_0          78 KB  conda-forge
    jupysql-plugin-0.4.5       |     pyhd8ed1ab_0         167 KB  conda-forge
    monotonic-1.6              |     pyhd8ed1ab_0          13 KB  conda-forge
    ploomber-core-0.2.26       |     pyhd8ed1ab_0          29 KB  conda-forge
    posthog-3.6.5              |     pyhd8ed1ab_0          48 KB  conda-forge
    prettytable-3.15.1         |     pyhd8ed1ab_0          34 KB  conda-forge
    sqlglot-26.0.1             |     pyhd8ed1ab_0         303 KB  conda-forge
    sqlparse-0.5.3             |     pyhd8ed1ab_0          39 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         812 KB

The following NEW packages will be INSTALLED:

  backoff            conda-forge/noarch::backoff-2.2.1-pyhd8ed1ab_1
  click              conda-forge/noarch::click-8.1.8-pyh707e725_0
  jupysql            conda-forge/noarch::jupysql-0.11.0-pyhd8ed1ab_0
  jupysql-plugin     conda-forge/noarch::jupysql-plugin-0.4.5-pyhd8ed1ab_0
  monotonic          conda-forge/noarch::monotonic-1.6-pyhd8ed1ab_0
  ploomber-core      conda-forge/noarch::ploomber-core-0.2.26-pyhd8ed1ab_0
  posthog            conda-forge/noarch::posthog-3.6.5-pyhd8ed1ab_0
  prettytable        conda-forge/noarch::prettytable-3.15.1-pyhd8ed1ab_0
  sqlglot            conda-forge/noarch::sqlglot-26.0.1-pyhd8ed1ab_0
  sqlparse           conda-forge/noarch::sqlparse-0.5.3-pyhd8ed1ab_0



Downloading and Extracting Packages:
ploomber-core-0.2.26 | 29 KB     |                                       |   0%
prettytable-3.15.1   | 34 KB     |                                       |   0%

backoff-2.2.1        | 18 KB     |                                       |   0%


monotonic-1.6        | 13 KB     |                                       |   0%



sqlglot-26.0.1       | 303 KB    |                                       |   0%




posthog-3.6.5        | 48 KB     |                                       |   0%





jupysql-0.11.0       | 78 KB     |                                       |   0%






click-8.1.8          | 83 KB     |                                       |   0%







jupysql-plugin-0.4.5 | 167 KB    |                                       |   0%








sqlparse-0.5.3       | 39 KB     |                                       |   0%

backoff-2.2.1        | 18 KB     | ################################2     |  87%
prettytable-3.15.1   | 34 KB     | #################4                    |  47%



sqlglot-26.0.1       | 303 KB    | #9                                    |   5%




posthog-3.6.5        | 48 KB     | ############2                         |  33%





jupysql-0.11.0       | 78 KB     | #######5                              |  21%






click-8.1.8          | 83 KB     | #######1                              |  19%




posthog-3.6.5        | 48 KB     | ##################################### | 100%

ploomber-core-0.2.26 | 29 KB     | ####################6                 |  56%





jupysql-0.11.0       | 78 KB     | ##################################### | 100%





jupysql-0.11.0       | 78 KB     | ##################################### | 100%
prettytable-3.15.1   | 34 KB     | ##################################### | 100%



sqlglot-26.0.1       | 303 KB    | ##################################### | 100%
prettytable-3.15.1   | 34 KB     | ##################################### | 100%



sqlglot-26.0.1       | 303 KB    | ##################################### | 100%








sqlparse-0.5.3       | 39 KB     | ##############9                       |  41%






ploomber-core-0.2.26 | 29 KB     | ##################################### | 100%






ploomber-core-0.2.26 | 29 KB     | ##################################### | 100%


monotonic-1.6        | 13 KB     | ##################################### | 100%


monotonic-1.6        | 13 KB     | ##################################### | 100%








sqlparse-0.5.3       | 39 KB     | ##################################### | 100%







jupysql-plugin-0.4.5 | 167 KB    | ###5                                  |  10%





















































Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [ ]:
conda upgrade jupysql

Collecting package metadata (current_repodata.json): |

### mySQL Client

In [3]:
conda install mysqlclient

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.9.0
  latest version: 25.1.1

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=25.1.1



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [4]:
conda update -n base -c conda-forge conda

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.9.0
  latest version: 25.1.1

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=25.1.1



## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - conda


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    anyio-4.9.0                |     pyh29332c3_0         123 KB  conda-forge
    async-lru-2.0.5            |     pyh29332c3_0          17 KB  conda-forge
    mistune-3.1.3              |     pyh29332c3_0          71 KB  conda-forge
    pandoc-3.6.4               |       ha770c72_0        20.3 MB  conda-forge
    ------------------------------------------------------------
                                           Total:        20.5 MB

The following packages will be UPDATED:

  anyio                                  4.8.0-pyhd8ed1ab_0 --> 4.9.0-pyh29332c3_0
  async-lru                              2.0.4-pyhd8ed1ab_1 --> 2.0.5-pyh29332c3_0
  mistune                                3.1.2-pyhd8ed1ab_0 --> 3.1.3-pyh29332c3_0
  pandoc                                   3.6.3-ha770c72_0 --> 3.6.4-ha770c72_0



Downloading and Extracting Packages:
anyio-4.9.0          | 123 KB    |                                       |   0%
async-lru-2.0.5      | 17 KB     |                                       |   0%

pandoc-3.6.4         | 20.3 MB   |                                       |   0%


mistune-3.1.3        | 71 KB     |                                       |   0%


mistune-3.1.3        | 71 KB     | ########3                             |  23%
async-lru-2.0.5      | 17 KB     | ##################################9   |  95%

anyio-4.9.0          | 123 KB    | ####7                                 |  13%
async-lru-2.0.5      | 17 KB     | ##################################### | 100%


mistune-3.1.3        | 71 KB     | ##################################### | 100%


anyio-4.9.0          | 123 KB    | ##################################### | 100%

pandoc-3.6.4         | 20.3 MB   | 5                                     |   2%

pandoc-3.6.4         | 20.3 MB   | #8                                    |   5%

pandoc-3.6.4         | 20.3 MB   | ##5                                   |   7%

pandoc-3.6.4         | 20.3 MB   | ####2                                 |  12%

pandoc-3.6.4         | 20.3 MB   | #####                                 |  14%

pandoc-3.6.4         | 20.3 MB   | #####9                                |  16%

pandoc-3.6.4         | 20.3 MB   | ######7                               |  18%

pandoc-3.6.4         | 20.3 MB   | #######4                              |  20%

pandoc-3.6.4         | 20.3 MB   | ########2                             |  22%

pandoc-3.6.4         | 20.3 MB   | ########8                             |  24%

pandoc-3.6.4         | 20.3 MB   | #########5                            |  26%

pandoc-3.6.4         | 20.3 MB   | ##########4                           |  28%

pandoc-3.6.4         | 20.3 MB   | ###########1                          |  30%

pandoc-3.6.4         | 20.3 MB   | ###########8                          |  32%

pandoc-3.6.4         | 20.3 MB   | ############5                         |  34%

pandoc-3.6.4         | 20.3 MB   | #############3                        |  36%

pandoc-3.6.4         | 20.3 MB   | ##############                        |  38%

pandoc-3.6.4         | 20.3 MB   | ##############6                       |  40%

pandoc-3.6.4         | 20.3 MB   | ###############3                      |  42%

pandoc-3.6.4         | 20.3 MB   | ################                      |  43%

pandoc-3.6.4         | 20.3 MB   | ################7                     |  45%

pandoc-3.6.4         | 20.3 MB   | #################7                    |  48%

pandoc-3.6.4         | 20.3 MB   | ##################6                   |  50%

pandoc-3.6.4         | 20.3 MB   | ###################7                  |  53%

pandoc-3.6.4         | 20.3 MB   | ####################8                 |  56%

pandoc-3.6.4         | 20.3 MB   | #####################7                |  59%

pandoc-3.6.4         | 20.3 MB   | ######################4               |  61%

pandoc-3.6.4         | 20.3 MB   | #######################6              |  64%

pandoc-3.6.4         | 20.3 MB   | ########################5             |  66%

pandoc-3.6.4         | 20.3 MB   | #########################4            |  69%

pandoc-3.6.4         | 20.3 MB   | ##########################2           |  71%

pandoc-3.6.4         | 20.3 MB   | ##########################9           |  73%

pandoc-3.6.4         | 20.3 MB   | ###########################7          |  75%

pandoc-3.6.4         | 20.3 MB   | ############################6         |  77%

pandoc-3.6.4         | 20.3 MB   | #############################4        |  80%

pandoc-3.6.4         | 20.3 MB   | ##############################1       |  82%

pandoc-3.6.4         | 20.3 MB   | ###############################       |  84%

pandoc-3.6.4         | 20.3 MB   | ###############################7      |  86%

pandoc-3.6.4         | 20.3 MB   | ################################6     |  88%

pandoc-3.6.4         | 20.3 MB   | #################################3    |  90%

pandoc-3.6.4         | 20.3 MB   | ##################################3   |  93%

pandoc-3.6.4         | 20.3 MB   | ###################################1  |  95%

pandoc-3.6.4         | 20.3 MB   | ###################################8  |  97%

pandoc-3.6.4         | 20.3 MB   | ##################################### | 100%








Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

## Connect to DB

In [ ]:
%load_ext sql

In [6]:
%sql mysql://jovyan:password@180.233.121.154:18033/hanisntsolo

Connecting to 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

In [7]:
%sql show databases;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

11 rows affected.

+--------------------+
|      Database      |
+--------------------+
|         db         |
|    hanisntsolo     |
| information_schema |
|       mysql        |
| performance_schema |
|       sakila       |
|       sports       |
|  student_project   |
|       sweta        |
|        sys         |
+--------------------+
Truncated to displaylimit of 10.

In [17]:
%sql show databases;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

11 rows affected.

+--------------------+
|      Database      |
+--------------------+
|         db         |
|    hanisntsolo     |
| information_schema |
|       mysql        |
| performance_schema |
|       sakila       |
|       sports       |
|  student_project   |
|       sweta        |
|        sys         |
+--------------------+
Truncated to displaylimit of 10.

In [18]:
%sql use information_schema;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

++
||
++
++

In [19]:
%sql show tables;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

79 rows affected.

+---------------------------------------+
|      Tables_in_information_schema     |
+---------------------------------------+
|   ADMINISTRABLE_ROLE_AUTHORIZATIONS   |
|            APPLICABLE_ROLES           |
|             CHARACTER_SETS            |
|           CHECK_CONSTRAINTS           |
|               COLLATIONS              |
| COLLATION_CHARACTER_SET_APPLICABILITY |
|                COLUMNS                |
|           COLUMNS_EXTENSIONS          |
|           COLUMN_PRIVILEGES           |
|           COLUMN_STATISTICS           |
+---------------------------------------+
Truncated to displaylimit of 10.

In [7]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [20]:
%sql show tables;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

79 rows affected.

+---------------------------------------+
|      Tables_in_information_schema     |
+---------------------------------------+
|   ADMINISTRABLE_ROLE_AUTHORIZATIONS   |
|            APPLICABLE_ROLES           |
|             CHARACTER_SETS            |
|           CHECK_CONSTRAINTS           |
|               COLLATIONS              |
| COLLATION_CHARACTER_SET_APPLICABILITY |
|                COLUMNS                |
|           COLUMNS_EXTENSIONS          |
|           COLUMN_PRIVILEGES           |
|           COLUMN_STATISTICS           |
+---------------------------------------+
Truncated to displaylimit of 10.

In [21]:
%sql select * from table_privileges;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

2 rows affected.

+-----------------------------+---------------+--------------+------------+----------------+--------------+
|           GRANTEE           | TABLE_CATALOG | TABLE_SCHEMA | TABLE_NAME | PRIVILEGE_TYPE | IS_GRANTABLE |
+-----------------------------+---------------+--------------+------------+----------------+--------------+
|   'mysql.sys'@'localhost'   |      def      |     sys      | sys_config |     SELECT     |      NO      |
| 'mysql.session'@'localhost' |      def      |    mysql     |    user    |     SELECT     |      NO      |
+-----------------------------+---------------+--------------+------------+----------------+--------------+

In [22]:
%sql use hanisntsolo

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

++
||
++
++

In [23]:
%sql show tables;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

+-----------------------+
| Tables_in_hanisntsolo |
+-----------------------+
+-----------------------+

In [24]:
%sql show databases;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

11 rows affected.

+--------------------+
|      Database      |
+--------------------+
|         db         |
|    hanisntsolo     |
| information_schema |
|       mysql        |
| performance_schema |
|       sakila       |
|       sports       |
|  student_project   |
|       sweta        |
|        sys         |
+--------------------+
Truncated to displaylimit of 10.

In [25]:
%sql use sweta;
# %sql show tables;
# %sql select * from employee;

Running query in 'mysql://jovyan:***@180.233.121.154:18033/hanisntsolo'

++
||
++
++